<table>
  <tr>
    <td><p style="font-size:45px; color: #55BBD2">Data Analysis with Python</p></td>
    <td><img src="course_images/lmb_logo.svg" alt="LMB Logo" width="500" height="600" align="right"></td>
  </tr>
</table>
<table>
  <tr>
    <td><p style="font-size:15px; color: #55BBD2">Version: May 2023</p></td>
  </tr>
</table>

# Licence

This manual is © 2023, Steven Wingett

This manual is distributed under the creative commons Attribution-Non-Commercial-Share Alike 2.0 licence. This means that you are free:

•	to copy, distribute, display, and perform the work

•	to make derivative works


Under the following conditions:

•	Attribution. You must give the original author credit.

•	Non-Commercial. You may not use this work for commercial purposes.

•	Share Alike. If you alter, transform, or build upon this work, you may distribute the resulting work only under a licence identical to this one.

Please note that:

•	For any reuse or distribution, you must make clear to others the licence terms of this work.
•	Any of these conditions can be waived if you get permission from the copyright holder.
•	Nothing in this license impairs or restricts the author's moral rights.

Full details of this licence can be found at 
http://creativecommons.org/licenses/by-nc-sa/2.0/uk/legalcode

# Introduction

## Aim 
This course is intended for people who want to learn how to analyse data programmatically.  

## Overview
The course introduces the Python programming language and how its functionality can be extended with libraries such as **pandas** in order to manipulate, filter and perform statistical tests on datasets, as well as plot complex figures.

## Prerequisites
**Do I need to know how to program in Python already?**

No, but having said that, completing a basic primer in the language would be helpful, before (or even after) attending this course.

## Contents
This course has four main subject areas:  

1. Introducing Jupyter Notebooks as a way to write and document code as well as to share and present results.  

2. Showing how specialist Python modules are used for manipulating datasets.

3. How Python modules can be deployed for mathematical operations and statistical analyses.  

4.  Presenting results using different plotting techniques. 

Although there will be a life sciences focus to some of the examples and exercises in this course, most of the concepts described are applicable to the vast majority of numerical disciplines.

## Goals 
On completing the course, participants should be able to at least start analysing complex datasets they have generated themselves or have obtained from other sources.  By using these skills and learning more about the countless publicly available scientific Python modules, attendees should be able to tackle a wide range of real-world research challenges.  Specific goal included:

* Learn how to handle and analyse large datasets encountered in life sciences research

* Documenting code and analysis using Jupyter Notebooks

* Share findings with other researchers

* Learn about the Python analysis library pandas

* Plotting complex figures with Seaborn and Matplotlib

* Producing interactive charts with Plotly

<div class="alert alert-info">
<b>A note on R</b>
<br>
<br>
If you already use the programming language R, and the associated integrated development suite RStudio, much of this course will be familiar to you.  And indeed it should, for this course covers many of the same ideas used to program in R, although the syntax (language structure) is somewhat different.
    
An adequate comparison of R vs Python is beyond the scope of this course introduction, but in simple terms R was designed at its inception as a language for statistics and data manipulation.  Python is a general-purpose computing language to which modules have been added specifically for data analysis.  Most notable among these is the module **pandas** which we shall be using in this course.  The pandas module resembles the statistical language R a great deal.  
    
This of course beckons the question: which is best to learn?  Well, there is no clear winner.  Perhaps someone completely new to programming would be better learning R, since the barrier to entry is lower.  By that we mean that to use pandas effectively requires some knowledge of Python.  In contrast, someone starting out in R will be able to make data tables and plot graphs almost immediately.  On the other hand, using Python and pandas together is more versatile and arguably paves the way for the budding coder to write scripts applicable to a wider range of applications. 
    
In practice however, for someone who wishes that coding will from a substantial component of his or her research output, knowledge of both languages is probably required.  It is quite common for example, to have to use other people’s scripts which could have been written in either R or Python.  In addition, both languages can make use of modules which import a range of functionality, but these modules are often "tied" to one particular programming language.  A case in point is the RNA-seq differential calling package DESeq2 which requires R.  In contrast, the machine learning suite Keras needs Python.   
    
So, in summary, there are pros and cons to each language and in the end it is often down to the individual user to decide which one is preferred.  Learning either language is, however, a good way to start using programmatic data analysis techniques.
    
Since by attending this course you have made a decision to learn more about Python, you should be pleased to learn that within a just a few hours you can expect to be able to perform fairly sophisticated data analyses using this language.
</div>

# JupyterLab

## JupyterLab overview
You may be familiar already with how to write and run scripts using a text editor.  While this is certainly adequate, it is not the smoothest way to handle experimental data.  A much better way to do this is provided by **Project Jupyter (https://jupyter.org)** which was designed explicitly for interactive data science and scientific computing.

To provide some background: Project Jupyter is a non-profit open-source initiative, which began with IPython (Interactive Python) back in 2014 when the IPython notebook was re-branded under the Jupyter name.  The name itself is a reference to the core programming languages supported by Jupyter:  Julia, Python, and R.  Although, it is probably fair to say that Jupyter is best associated in people's minds with Python.  

The **Jupyter Notebook** is an intuitive web-based application that scores in the area of research science, for it allows programmers to create and share documents that contain live code, equations, plots and formatted descriptive text.  

When most people think of Jupyter they tend to think of the Jupyter Notebook, but for this course we will be using another web-based tool named **JupyterLab**.  Its central component is still the Jupyter Notebook, but it contains additional features useful in data science.

## Installing JupyterLab
We assume that you are proficient at installing applications on your own machine and so shan’t talk you through all the installation options on a multiplicity of different operating systems.  Besides, this is already well documented on the Jupyter website: https://jupyter.org/install.  

If that online overview doesn’t help, then please refer to the extensive official Jupyter documentation: https://jupyterlab.readthedocs.io/en/stable/getting_started/installation.html

In fact, reading the aforementioned instructions may not be necessary at all, since a **pip install** (the Python package installer) will often suffice:

    python3 -m pip install jupyterlab

(This of course needs Python3 pre-installed.)



## Starting and closing JupyterLab

### Laptop / desktop installations
To start JupyterLab, open a command line environment on your computer.  This should be familiar to Linux users, but on Mac it is the Terminal application and on Windows it the MS-DOS program (i.e. the same environment you used to install Jupyter Lab).

To start JupyterLab, enter in the command line

    jupyter-lab

This command should start a web-server on your machine and open your default web browser (e.g. Chrome, Firefox or Internet Explorer) which should then display the JupyterLab application.  You will need to keep the command line environment window open, since closing it will terminate the web server and end your JupyterLab session.

### Anaconda
It is worth mentioning at this point that you can also obtain JupyterLab by installing the data science platform **Anaconda**.  Anaconda has open source and free editions and is worth checking out: https://www.anaconda.com.  You may find that it contains far too many packages for your needs, or alternatively it may be ideal for you - allowing you to install most of the software you will ever need in one simple install.

Double-click on the Anaconda Navigator icon to open the scientific software suite.  From within there, you should be able to see the JupyterLab logo.  Click the associated "Launch" button to open the software.  If you don't see the JupyterLab badge on the Navigator start-up page, then change the "Channels" drop-down options to check if it is already installed, or needs installing from within Anaconda.


### LMB Servers
People enrolled on this course should have an account set up on the LMB's JupyterHub server.  To login, use a machine that **can access the LMB's intranet.**  Go to the following intranet page and enter your username and password:
http://10.91.193.124/hub/login

Once you have logged-in, your browser URL bar will display something similar to:

http://10.91.193.124/user/swingett/tree

Manually type in the URL bar changing "tree" to "lab" and then press enter.  This should open JupyterLab.

Once you have done that, download this course material into your folder, which can be done by clicking the following: link/command:

http://10.91.193.124/hub/user-redirect/git-pull?repo=https://github.com/StevenWingett/data-analysis-with-python-course&branch=no-answers&app=lab

<div class="alert alert-success">

## Exercise 1

**a1.** Open JupyterLab (using JupyterHub on the LMB's intranet, or on your local machine.)

**a2.** Open the course notebook by clicking on the link given to you.
</div>

## Navigating JupyterLab

The JupyterLab interface comprises three components:
1. a main work area containing tabs of documents and activities.
2. a collapsible left sidebar containing a file browser, the list of running kernels and terminals, the command palette, the notebook cell tools inspector, and the tabs list.
3. top-level menus that expose actions available in JupyterLab with their keyboard shortcuts.

We shall discuss in more detail about each of the menus as we describe more about using the various features of JupyterLab.

<img src='course_images/jupyter_lab_screenshot.png' alt='Alt text' title='Title text'/>

## Jupyter Notebook

Jupyter Notebook is the centrepiece of JupyterLab and it is the main reason why most users install JupyterLab.  (Of course, Jupyter Notebook is also available as a much-used standalone product.)  The application provides a convenient way to write executable code, alongside descriptive text and accompanying graphs and charts.  We shall begin by discussing how to embed Python code.

### Creating a New Notebook

The Jupyter Notebook layout should be quite intuitive to those familiar with common Desktop applications.  A new document may be opened from the top-level drop-down menu:

*File -> New -> Notebook*

Also, take a quick look to notice the other options available from the File drop-down menu.  As you may expect, it is from this *File* drop-down menu that you will be able to save Notebooks and open pre-existing Notebooks.

### Notebook structure

A newly created Notebook will be displayed in the main window.  The Notebook comprises one or more multi-line text input fields termed **cells**.  

There are three types of cells: 

1. code cells - for writing and executing Python code.
    
2. markdown cells - for writing formatted text, commonly used to explain the code and data.
    
3. raw cells - for unformatted text which will not be rendered by the Jupyter Notebook.

Newly created cells are by default code cells, but may be changed to another type by using a drop-down on the toolbar.  These different cell types have different properties, as described below

#### Code cells
A code cell allows you to write Python code and has the benefit of syntax highlighting and tab completion.  This code may then be run interactively by pressing **<kbd>Shift</kbd> + <kbd>Enter</kbd>**, or by clicking the **Play** button in the toolbar or **Run** in the menu bar.  

Executed code is sent to the Jupyter **kernel** (computing environment) associated with the Notebook and the results returned are displayed in the Notebook as a given cell’s output. The output is typically text but may take the forms, including graphs and HTML tables.

Try running the Code Cell below:

In [ ]:
print('This is a Code Cell')

Now is a good time to mention that Code Cells may contain **comments** as well as code.  The hash (#) symbol is used to distinguish comment lines from code lines.

In [ ]:
# This is a comment line
print('This is a code line')

#### Markdown cells
Markdown is a **lightweight markup language** that you can use to add formatting to text documents.  As such, these cells provide a good way to include descriptive text, headings and section breaks etc. in a Notebook.

Indeed, this cell is a markdown cell and is rendered accordingly.  For example, placing a word between pairs of double asterisks will render the word in **bold**.

The following cell gives further details or alternatively, [click here the canonical documentation on Jupyter markdown usage.](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html#)

<div class="alert alert-info">
    
<b>Commonly used markdown</b>
    
    # Heading 1 
    
    ## Heading 2
    
    ## Heading 2.1
    
    ## Heading 2.2
    
    *italics*
    
    **bold**

</div>

### Command Mode and Edit Mode
When running Jupyter Notebook you can either select **Command Mode** or **Edit Mode**.  The current mode of the Notebook is displayed with a text message at the bottom bar of the JupyterLab window (so long as the status bar is displayed).

**Command Mode:** you are able to edit the Notebook, but not type into individual cells.  Most importantly, in Command Mode, the keyboard is mapped to a set of shortcuts that let you perform notebook and cell actions efficiently. For example, if you are in command mode and you press <kbd>C</kbd>, you will copy the current cell.  Enter command mode by pressing <kbd>ESC</kbd> or using the mouse to click an area outside of any of the cells.

**Edit Mode:** when a cell is in Edit Mode, you can type into the cell in a similar fashion to a standard text editor.  To enter Edit Mode simply click the cell that needs editing.

<div class="alert alert-info">

<kbd>ESC</kbd> Command Mode view
    
<kbd>ENTER</kbd> Cell Mode view.

<kbd>A</kbd> when in command mode, inserts a cell above the currently selected cell.

<kbd>B</kbd> when in command mode, inserts a cell below the currently selected cell.

<kbd>D</kbd><kbd>D</kbd> pressing D twice in a quick succession in command mode deletes the currently selected cell. 

---

Jupyter Lab gives you an option to change your <b>cell type</b> when in command mode.  You can use <kbd>M</kbd> to change current cell to a markdown cell, <kbd>Y</kbd> to change it to a code cell and <kbd>R</kbd> to change it to a raw cell.

---

<kbd>SHIFT</kbd> + <kbd>M</kbd> merges multiple selected cells into one cell. 

<kbd>CTRL</kbd> + <kbd>SHIFT</kbd> + <kbd>-</kbd> splits the current cell into two cells from where your cursor is located. 

<kbd>SHIFT</kbd> + <kbd>J</kbd> or <kbd>SHIFT</kbd> + <kbd>DOWN</kbd> selects the next cell in a downward direction.  This assists in making multiple selections of cells.

<kbd>SHIFT</kbd> + <kbd>K</kbd> or <kbd>SHIFT</kbd> + <kbd>UP</kbd> selects the next cell in an upwards direction. This assists in making multiple selections of cells.

<kbd>CTRL</kbd> + <kbd>/</kbd> helps you by either commenting or un-commenting any line in the Jupyter lab. For this to work, you don’t even need to select the whole line for it will comment or un-comment the line where your cursor is positioned. If you want to do it for more that one line then you will need to first select all the lines that need changing and then use this shortcut.
</div>

### Executing cells
As discussed previously, code cells may be executed by clicking a cell and pressing <kbd>SHIFT</kbd> + <kbd>ENTER</kbd>.  Alternatively, users may select an option from the *Run* menu.  

**Importantly, cells may not run in the order that they appear in the notebook.  The run order is denoted by the numbers next to the cells.**  Also, values are kept in memory after running cells.

To reset all these values and the run order, you will need to restart the kernel (*Kernel -> Restart Kernel*)

### Special Notebook commands
Now we shall look at a range of useful Notebook-specific commands that may be entered into cells.

<div class="alert alert-info">
<b>A note on Objects</b>

You will encounter the term <b>object</b> the more you read about computing.  There are technical definitions as to what constitutes an object.  For the purposes of this course, an object can be thought of as a variable, data structure, function or a method.  Essentially these are ways of storing information and instructions on how to process information.  In fact, Objects may be hybrids of both these terms and contain data and instructions on how to process data.  

The take-home message is simply to be aware that much of the computing terminology you encounter is often bundled together under the umbrella term: object.

#### Magic commands
Magic commands are commands that can only be run in the Jupyter Notebook (i.e. are separate from the Python language) and extend the functionality of a Notebook. There are are two types of magic commands:

**Line magics** - preceded by % and are written on a single line of code

**Cell magics** - preceded by %% and encompass an entire cell

For example, the line magic **%history** returns the command history of a Notebook, whereas **%who** lists all the names (or variables) currently in memory, or the line magic **%pwd** will print the path of the current working directory.

In [ ]:
%pwd

The **%%writefile** cell magic is used to write the contents of a cell to an external file, as shown below:

In [ ]:
%%writefile hello.py
print("This code is written to hello.py")

To list all the magic commands enter: `%lsmagic`

#### Shell commands
Many magics have functionality that otherwise would require the Linux command line (in which user types out instructions for the Linux operating system to execute).

In [ ]:
!pwd

If however a shell command is required, these can be run directly from a Jupyter Notebook by prefixing them with an exclamation mark:

In [ ]:
!ls *.py

Again, don't worry if you are unaware what a shell command is.  The point was included as it may be useful for people already familiar with using a command line environment.

#### Installing Python modules via Jupyter Notebook
It is possible to perform a wide variety of calculations and manipulations using Python.  This capability is extended substantially by making use of **libraries**, **packages** and **modules**.  

These make available to the user a much greater range of data types, functions, and methods.  You will need to import a module before you can use it.  Suppose you wish to install a Python library named "plotly", you can achieve this by typing the following in a code cell: 

    import plotly

If executing this code generates no output to the screen, then this means that the module has been successfully imported.  In contrast, you may be presented with an error message, similar to that displayed below:

    #ModuleNotFoundError

If that is the case, then the required module needs installing into the version of Python used by Jupyter.  Once installed, you should not need to install it again.  

Installing plotly can be achieved by typing and running the following in a code cell: 

    import sys
    !{sys.executable} -m pip install plotly

This imports the `sys` module which is then used to run `pip`, the bespoke Python module installer.  There will be a flurry of output to the screen on initiating an installation, which should hopefully end with some kind of success message.

Running the cell code below will install Python modules required for this course.  Once you have done that you are good to go and you should not have to install these packages again.

In [ ]:
import sys
!{sys.executable} -m pip install plotly
!{sys.executable} -m pip install seaborn
!{sys.executable} -m pip install numpy
!{sys.executable} -m pip install pandas
!{sys.executable} -m pip install matplotlib

### Embedding items in a Notebook
#### Tables
Later in this course we shall discuss how to store data in special data structures resembling tables.  These data structures may be embedded in a Jupyter Notebook, as shown below.  Again, don’t be concerned by some of the unfamiliar code below as we shall discuss this in more detail shortly, but just pay attention to the rendering of the table embedded in the Notebook.  (Note that for brevity’s sake not all 150 rows of the table are shown and consequently the ellipsis symbol (…) denotes the gap in the output.)

In [ ]:
import seaborn as sns

iris = sns.load_dataset('iris')
iris

#### Embedding graphs
The example below uses the module matplotlib to plot the iris data.  This will render beneath your Python code a scatter plot of the sepal width vs the sepal length.

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

iris = sns.load_dataset('iris')
x = iris.sepal_length
y = iris.sepal_width
plt.scatter(x, y)
plt.show()

#### LaTeX
LaTeX is a popular way to embed mathematical formulae in documents. LaTeX can be embedded in markdown cells by surrounding latex code with the dollar symbol ($), for example:

Euler's Identity: $e^{i\pi} + 1 = 0$

Euler's Identity: $e^{i\pi} + 1 = 0$

Expressions can be rendered on their own separate line by surrounding the LaTex code with a pair of dollar symbols ($$):

Euler's Identity: $$e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i$$

Euler's Identity: $$e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i$$

#### HTML

Use the **%%html** magic to embed html code.

In [ ]:
%%html
<iframe src="https://jupyter.org/", width=100%, height=500>
</iframe>

### Sharing and collaboration with Jupyter Notebooks
More often than not when producing a Notebook you will want to show your findings to somebody else, or indeed you may want to work with someone else on the same project.  Jupyter lends itself well to this.

#### Creating HTML documents
A simple and easy way to do this is to convert your Notebook to a regular read-only HTML file that can be viewed by the end-user.  Do this using the drop-down top menu:

*File -> Export Notebook As… -> Export Notebook to HTML*

This will generate an HTML file that may be shared with others.


#### Github
Individuals can make their Notebooks available online or collaborate on the same project by using a Git repository website (such as GitHub).  Indeed, there is already an interesting collection of Jupyter Notebooks already posted on that website: https://github.com/jupyter/jupyter/wiki/A-gallery-of-interesting-Jupyter-Notebooks

#### Google Colab
Another location where Jupyter Notebooks can be shared is Google Colab.  Take a look at this single cell RNA-seq analysis to get an idea of what can be achieved in a Jupyter Notebook: https://colab.research.google.com/github/buettnerlab/scanpy_demo/blob/main/tutorial_scanpy_basics.ipynb?hl=en#scrollTo=GSZEq9ZnWdjq


### Other JupyterLab features

#### Text editor
Jupyterlab contains a basic text editor to write plain text documents, or write Python code (in fact the text editor highlighting is compatible for a wider range of languages).

#### Markdown editor
Markdown is a lightweight markup language that you can use to add formatting elements to plain text documents. 

#### Python console
Code consoles enable you to run code interactively in a kernel. The cells of a code console show the order in which code was executed in the kernel, as opposed to the explicit ordering of cells in a notebook document. Code consoles also display rich output, just like notebook cells.

#### Command line shell
JupyterLab terminals provide full support for system shells (bash, tsch, etc.) on Mac/Linux and PowerShell on Windows. You can run anything in your system shell with a terminal, including programs such as vim or emacs. The terminals run on the system where the Jupyter server is running, with the privileges of that user.

#### Viewing character-delimited datafiles
JupyterLab has an application to view datafiles comprising rows and columns of data in which columns are separated by a pre-defined delimiter (e.g. tab-delimited files and comma-separated files).  This application was written to handle enormous datafiles (far larger than those that can be handled by Excel for example).

#### Viewing images
If you double click on an image file (e.g. JPEG or PNG) in the file browser menu, you will open an image viewer.  You can move the image in the window using the mouse pointer.  Also, you can zoom in/out with the keys <kbd>=</kbd> / <kbd>-</kbd> respectively.  You can also rotate right/left with the <kbd>[</kbd> and <kbd>}</kbd> keys respectively.  The key <kbd>0</kbd> will reset the image. 

#### Extension manager
Software plug-ins developed by the Jupyter community can be installed into Jupyter (click the "jigsaw-shape" icon in the left-hand side toolbar).  The extension manager allows free-text searches to aid in the identification of potential useful plug-ins.  One such popular plugin is "jupyterlab-variableInspector" which is broadly analogous to the Environment window in RStudio.

Installing an extension is often simply a matter of clicking the relevant install button, but sometimes additional software may need to be installed on your system before this can be carried out.

<div class="alert alert-info">
<b>Alternatives to JupyterLab and Jupyter Notebook</b>
<br>
<br>
The Jupyter Project produces the most widely used software for viewing, interacting with, editing and creating these Notebooks.  However, there are alternative ways to do this.  Probably the best option is <b>Visual Studio Code</b>.  Thanks to an active developer marketplace this text editor has a wide and growing range of functionality, including compatibility with Jupyter Notebooks.
<br>
<br>
The software's homepage is at: <a href="https://code.visualstudio.com">https://code.visualstudio.com</a   
<br>
<br>
Although Microsoft develops the application it is free to use and available on Windows, Mac and Linux systems.
</div>

<div class="alert alert-success">

## Exercise 2

**a1.** Open a new notebook.

**a2.** In the first cell on the notebook enter the code:

`print('Hello World!')`

Then run the cell.  What do you see?

**a3.** Create a new cell and convert it to a markdown cell.  Enter the text:

`This is regular font`

`*This is in italics*`

`**This is in bold**`

`` `This is in-code highlighting` ``

`# Heading1`

`## Heading2`

`### Heading3`

Then run the cell.  What do you see?

**a4.** Move the markdown cell to the top of the notebook.

**a5.** Copy the first cell and convert it to raw format.  Run the cell.  What is the output?

**a6.** Delete the cell you have just made.  

**a7.** Save the notebook in your current directory and name it: "course_exercises.ipynb".  

**a8.** Close the notebook.

<hr>

**b1.** Re-open the notebook you have just made and run the following magic command in a code cell.  What is it telling you?

`%pwd`

**b2.** Copy and paste the code below into cell and run the cell.  What do you see?

    import seaborn as sns
    df = sns.load_dataset("penguins")
    df   
    
    
    
**b3.** Copy and paste the code below into a cell and run the cell.  What do you see?   

    sns.pairplot(df, hue="species")


**b4.** Export this notebook as an HTML file.

<hr>

**c1.** Using the file navigator menu in JupyterLab, look in the folder "course_exercises_data/exercise2"

You should be able to see files in there.

**c2.** Open the file "data.tsv" with JupyterLab.  What is the data?

**c3.** Open the file "image.svg" with JupyterLab.  What is the image?  Can you rotate the image and zoom-in / zoom-out?

<hr>

</div>

# Python you need to know

Ideally you will be familiar already with the syntax of the Python language and this chapter will be a brief reminder of the Python terms used in this course.  If you are not familiar with Python, this chapter will help you understand key Python concepts you will need.

The Python Homepage which provides the language's canonical documentation is found at: https://www.python.org.

## Data types and expressions
### Integers (`int`)
Integers in Python have the same meaning as in mathematics: these are numbers with no values after the decimal point and can be positive, negative or zero.  For example: 10, 23 and -18 are all integers.  In contrast: 1.5, -0.2 and $\sqrt2$ are not integers, since they have values after the decimal point.

Integers can be manipulated by operators.  The **addition (+) and subtraction (-) operators** will be familiar to you from basic maths.

Calculations can be performed in Jupyter Notebook cells:

In [ ]:
1 + 2

In [ ]:
3 - 5

Python can also perform multiplication.  The multiplication symbol used by Python is not the same as used in standard maths textbooks, for it is an asterisk (*).

In [ ]:
5 * 5

Furthermore, it is possible in Python to raise a number to a given power. This is denoted by a **double asterisk operator (\**)**.

In [ ]:
5 ** 2

### Floats (`float`)
Floats - or to use the full term: “floating point numbers" - are used by computers to store non-integer numbers.

Floats have two components: the **significand** and the **exponent**.  The former stores the significant numbers (which can be positive or negative), while the exponent defines the position of the decimal place.  For example, the value 0.5 has a significand of 5 and an exponent of -1.  

(In fact, integer values may be represented as floats, for example 1000 would have a significant of 1.0 and an exponent of 3, but storing integers in this way uses more of the available memory than simply storing as an `int` datatype.)

Having said all this, you generally won’t notice any difference when entering floats in the Jupyter Notebook as compared to integers.

In [ ]:
# A float: significand:1, exponent: -1
0.1

One noteworthy difference is that floats may be entered using scientific notation:

In [ ]:
3.0E-10

Floating point numbers are particularly important with regards to division.  This is because most division operations (even those involving only integers) will return fractional values and thus a `float`.  Indeed, division operations in Python always return the `float` type (even if the value returned is not fractional).

To divide in Python, use the forward slash (/) character:

In [ ]:
1 / 3

<div class="alert alert-info">

**A note on floats**

Many numbers cannot be reported with infinite precision using standard decimal notation.  For example, one-third is represented as 0.33333 recurring, but since we cannot store an infinite number of 3s in memory, the stored value will only an approximation to one-third.

In a similar vein, computers work in binary (base 2) and there are seemingly simple decimal values that cannot be stored with complete precision in binary.  For example, the value 0.1 is stored as 0.10000000000000000555 (to 20 decimal places) in Python.  Floats are accurate to around 17 decimal places, but look out for these slight inaccuracies when performing calculations.

Warning: these tiny discrepancies do not cause a problem in almost all situations, but do be careful when checking if two results exactly equal one another when working with floats
</div>

### Compound expressions
All the expressions so far listed involve one operator and one value, but a single expression may contain many values and expressions.  Here is a simple example involving only integers:

In [ ]:
5 + 5 * 3

If one performed the above calculation in a left-to-right order, the answer would be 30 and not 20 (i.e. 5 + 5 = 10 and then 10 * 3 = 30).  

However, Python follows **orders of precedence** and will perform the multiplication before the addition (which are the formal rules in mathematics).  Thus, 5 * 3 = 15.  Then add 5, which makes 20. You could of course learn the rules of precedence and write code accordingly, but virtually no programmer does this.  

The way around this extra complexity is to use parentheses in your code.  The expression inside the parentheses is evaluated first and then this is passed to values outside the parentheses.  Python also allows nested parentheses (brackets within brackets), which are useful in complex expressions.  Don’t worry about using multiple parentheses in your code; in fact, their inclusion should help make your code easier to read.

Consequently, you could re-write the above expression as:

In [ ]:
(5 + 5) * 3

### Strings (`str`)

These store Unicode characters, whether that is a letter, number or a symbol of some kind.  Essentially, they constitute a “string” of characters – although a solitary single character is also classified as a string.  

To create a string you will need to enclose your text within either single or double quotation marks.  Double and single quotation marks have the same meaning in Python and you are free to use either, but the opening and closing quotes need to be of the same type.

In [ ]:
# Create a string with single quotation marks
'abcde12345'

In [ ]:
# Create a string with double quotation marks
"abcde12345"

Placing numbers between quotation marks will create a string, not a numerical datatype.

In [ ]:
'12345'

Although you may think of plus (+) as to be used solely with numbers, in Python it can also be used to concatenate (i.e. join) strings.

In [ ]:
'Love' + 'Marriage'

In a similar fashion, the multiplication operator can be used on strings. Multiplying a string by an integer causes the string to be repeated.

In [ ]:
'Go forth ' * 5

### Booleans (`bool`)
The Boolean datatype has only two values: `True` or `False`.  Boolean values are generated when performing logical evaluations using **comparison operators**.  This term may sound quite formal, but you are no doubt already familiar with many of these operators from school-level maths.

| Comparison Operator | Description |
| --------------------| ----------- |
|          ==         | If the values of two operands are **equal**, then the condition is `True` | 
|          !=         | If values of two operands are **not equal**, then the condition is `True` |
|           >         | If the value of left operand is **greater than** the value of right operand, then the condition is `True`   |
|           <         | If the value of left operand is **less than** the value of right operand, then the condition is `True`  |
|           >=        | If the value of left operand is **greater than or equal to** the value of right operand, then the condition is `True`  |
|          <=         | If the value of left operand is **less than or equal to** the value of right operand, then the condition is `True`  |

For all of the above, if the condition is not met then the returned value is `False`.

In [ ]:
1 == 1

In [ ]:
1 == 0

In [ ]:
2 > 5

Please note that `True` or `False` values are case sensitive.  Not following this syntax will raise an error.

In [ ]:
True

In [ ]:
# Raises exception (tagged cell with 'raises-exception')
true

<div class="alert alert-info">
<b>A note on Error Messages</b>
<br>
<br>
If a mistake is encountered on executing a cell, the Jupyter Notebook will return an error message detailing the problem (such as shown above).  These Error Messages are shaded in red and should be read keenly as they should, at least in-part, explain why a bloc of code failed to run successfully.

Sometimes you may be presented with a Warning Message instead of an Error Message.  Code returning a Warning Message will have run to completion, but you are being made aware of a potential problem with you code.  For example, sometimes Warning Messages alert programmers to forthcoming changes to the Python language that when instigated will render the current code invalid.
</div>

<div class="alert alert-success">
    
## Exercise 3

Calculate in code cells:

**a1.** Five plus seven (5 + 7)

**a2.**	Eight minus ten

**a3.** Nine multiplied by eleven

**a4.** Minus fifteen divided by three

**a5.** Three cubed


<hr>

Calculate in code cells:

**b1.** The square root of 2 (remember: determining the nth root of a number is the same as raising that number to the power of 1/n).

**b2** One trillion is 1,000,000,000,000.  Multiply 3.2 trillion by 2.5.  To simplify this calculation, use scientific notation to represent a trillion.

**b3** Determine the value in grams of 2.3 picograms multiplied by 45.3.

<hr>

Write **one-line expressions** to do the following comparisons.  The answer should be a **boolean** value.

**c1.** Evaluate whether 0 is equal to -0

**c2.**	Evaluate whether 10 is not equal to 10.000

**c3.** Evaluate whether (856 * 7) is greater than (864 * 7.2)

**c4.** Is 9 / 3 less than or equal to 33 / 11?

<hr>
    
Use a code cell to write **one-line expressions** to calculate the following (use parentheses to make the calculations more readable):

**d1.**  I buy 5 sandwiches at £1.20 and 8 rolls at £2.15.  How much will they all cost?

**d2** One thousand pounds is shared equally between 20 men and 30 women.  How much does each person receive?

**d3** I work for 3 hours at £15.20 per hour, 9 hours at £17.45 per hour and 2 hours at £24.00 per hour.  I then pay 20% income tax on the money earned.  How much money do I take home?    
    
<hr>    

**e1.** Concatenate the following strings into a single one-line string: \
Con \
cat \
en \
ate

**e2.** Concatenate the phrase “To be or not to be” from its constituent words (think about how to create the spaces between words).

**e3.** Write a single-line expression that comprises the following phrase 20 times: "All work and no play makes Jack a dull boy". (You don't need to type out the phrase 20 times!)
    
</div>

## Names, functions and methods
You are probably already aware that in algebra letters are used to represent numbers.  This idea is a central concept of Python and is achieved using an assignment statement.  For example:

In [ ]:
a = 1

This assigns the **name (or variable)** `a` to the value 1.  Names can be assigned to integers, strings and other data types.  As you may expect, when assigning to a string you will need to surround your string with quotation marks:

In [ ]:
b = 'Text'

Notice that nothing is displayed on the line after your input text.  This is because what you have entered is a **statement**, which unlike expressions in the previous section, **do not return values**. 

If you now type `a` or `b` in a cell, you will see the value of that name is returned.

In [ ]:
b

It is possible to assign a name to an existing name:

In [ ]:
c = b
c

Another useful feature of Python is that it is possible to assign a name to a value as it is being calculated:

In [ ]:
d = 10 * 5
d

This is an important concept in programming languages, for it now means that names may be manipulated as one would manipulate the values to which they are assigned.  For example:

In [ ]:
a = 1
b = 2
c = a + b
c

## Functions

### Functions overview
Previously in this course we came across the following Python command:
 
    print("Hello World!")

This is an example of a function.  A function comprises several components: firstly, every function has a name, which in this case is "print".  

Following the function name comes a pair of brackets.  There may be nothing between these brackets, or alternatively there may be one or more items termed **arguments**.  In this example, the argument passed to the print function is the "Hello World!" string.  If there is more than one argument, they should be separated from one another using commas.  

Every function returns a value.

Also, take note of what happens when passing a variable to this function:

In [ ]:
forPrinting = 'Print Me!'
print(forPrinting)

The string 'Print Me!' is assigned to the name `forPrinting`.  Calling the function `print()` with the argument `forPrinting` causes the **value** associated with that name to be printed to the screen.

The `print()` function is one of Python’s **built-in functions**.  There are many other built-in functions.  The function `len()` for example returns the length of a string.

In [ ]:
len('Supercalifragilisticexpialidocious')

### Functions and data types

We have discussed already that there are different datatypes in Python (i.e. `int`, `float`, `str`,…).  Up until now we have not been able to ascertain directly the data type of a given object.  However, this is possible using the `type()` function.

In [ ]:
type(378163771)

In [ ]:
type('Hello World!')

In [ ]:
type('378163771')

That may be all well and good, but should we really care how Python is storing these values?  Well the answer is yes!  Suppose we have the integer 378163771 stored as a string.  Any numerical calculations we want to do with this will then fail.  To get around this we would need to convert a string to a number and then perform our numerical operations.  This process of converting one datatype to another is called **casting**.

In [ ]:
int('378163771') - 1

In this example we have converted a string to an integer, but we could of course converted to a float.  

Casting in python is therefore done using constructor functions:

`int()` - constructs an integer

`float()` - constructs a float

`str()` - constructs a string

### Methods
Methods are very similar to functions.  Specific data types in Python have the capability to run different methods.  To call (execute) the method, simply place a **dot** after the name of the datatype and then enter the method name.

In [ ]:
'abracadabra'.upper()

Similar to functions, **methods may also take arguments**.  For example:

In [ ]:
# Count the occurrences of 'a'
'abracadabra'.count('a')

In [ ]:
magic = 'abracadabra'
magic.count('a')


<div class="alert alert-info">
<b>A note on functions, methods, arguments and parameters</b>
<br>
<br>
    
As we have learnt already, <b>functions</b> and <b>methods</b> define blocks of code that run when they are called.  Collectively functions and methods are known as <b>calls</b>.  The difference between a method and a function is that methods are associated with Python objects, but functions are not.
    
Some calls can be passed values termed <b>arguments</b>.  These arguments are taken by the call and their values are assigned to <b>parameters</b>.

To prevent ambiguity if a call accepts more than one argument, the order in which the arguments are passed is used to set the parameters.  Consider the following method:
    
<code>np.random.normal(0.0, 1.0, 100)</code>

This generates 100 (size) randomly selected number from a Normal distribution which has a mean value of 0 (loc) and a standard deviation of 1.0 (scale). 

Alternatively, parameters may be named explicitly when making a call. Importantly, argument order is not important when making calls in this way e.g. the calls below are equivalent to one another and the call made previously:

<code>np.random.normal(loc=0.0, scale=1.0, size=100)</code>

<code>np.random.normal(size=100, scale=1.0, loc=0.0)</code>

Naming the parameters to which arguments are to be assigned is more verbose, but it can be easier to comprehend when dealing with more complex functions and methods.
</div>

<div class="alert alert-success">

## Exercise 4

**a1.** Check the datatype returned for each of the following calculations:\
10 * 3\
22 / 7\
'10' * 3

**a2.** Convert the result of '10' * 3 into an integer and then check it is an integer.

<hr>

**b1.**  Assign the following DNA sequence to a variable named `dna`:
GATATCTAGTCTTCTGATAGAGATCTGATGGGGATTATTATAGCTTCTGATCGGTTT

**b2.** Display the sequence using the `print()` function on the newly created variable `dna`.

**b3.** What is the length of the DNA sequence? (Hint: use the `len()` function)

**b4.**  How many times does the BglII restriction site AGATCT occur in the sequence? (Hint: we already covered this method). 

**b5.** Convert the sequence to lower case. (Hint: We've not covered this method yet, but its name is intuitive.) 
    
</div>

## Collections
We  discussed previously the **primitive data types** found in Python which are useful in a wide number of situations but are nevertheless not adequate for the more complex tasks performed by software.  

This section describes the compound data types that contain multiple objects in structures called **collections** (or sometimes containers - although this should not be confused with specialist container software such as Docker). Each object in a collection is referred to as an **element** or **item**.   Becoming familiar with their usage will enable you to dramatically increase the range of tasks to which you can code solutions.  Commonly used collections include sets, tuples, generators, ranges, lists and dictionaries.  

**We shall discuss ranges, lists, tuples and dictionaries in this section.**

### Lists
Lists constitute a **mutable ordered sequence** of any type of element.  The code below shows how to create a list.

In [ ]:
a = [1, 2, 3]
print(a)
print(type(a))

You may reference a specific element in a list using an indexing system.  The first index has a value 0, then next index has the value 1 and so on.  Place the index value between square brackets to access the item at that position.

In [ ]:
beatles = ['John', 'Paul', 'George', 'Pete']
print(beatles[0])
print(beatles[1])

Since lists may be changed after they have been created, there are assignment expressions or methods that are used to modify a list.  In fact, there is actually a wide variety of ways to modify a list, an example of which is shown below.

In [ ]:
beatles = ['John', 'Paul', 'George', 'Pete']
beatles[3] = 'Ringo'
beatles

It is possible to view more than one list entry simultaneously.  In the example below, the second, third and fourth elements are returned from the list.  The values 1:3 means return values at position 1 (the second element in the list) and all values **up to, but not including** 3.  

Using the **colon operator** to retrieve contiguous values is known as **slicing**.  This concept will be encountered at multiple points in this course.

In [ ]:
beatles[1:3]

It is also worth knowing that some methods modify a data structure directly, without the need of the assignment operator.

<div class="alert alert-info">
<b>Slicing</b>
<br>
<br>
Slicing data is a concept in Python that comes up again and again in different contexts.  The syntax to do this is to place square brackets after the ordered data structure that is to be sliced.  Inside that bracket enter the position (indexing starts at 0) or positions of the data to be returned.

`data[0]` - return data at index 0 (first position)

`data[1]` - return data at index 1 (second position)

Use negative values to start at the end of the ordered data:
    
`data[-1]` - return last data value
    
`data[-2]` - return second-to-last data value

The colon operator (`:`) is used to specify contiguous positions.  The further examples below illustrates how this works:

`data[0:4]` - select from index 0 to (but not including) index 4
    
`data[:4]` - this is a abbreviation of the previous slice and demonstrates that ommitting a starting number is interpreted as start from the beginning of the list
    
`data[2:]` - similarly, this means take a slice from index 2 until the end of the list

This notation can also be used to increment by a constant value:

`data[0:4:2]` - select from index 0 to (but not including) index 4, in increments of 2

<img src='course_images/slicing.svg' title='Splicing'/>
</div>

In [ ]:
beatles.sort()
beatles

Another important point that you may have noticed is that the `sort()` method has not returned a value, instead the original `beatles` list was sorted directly.  The list does not have to be re-assigned to itself i.e. we do **not** do the following:
    
    beatles = beatles.sort()

<div class="alert alert-danger">Some methods return values, while others manipulate <i>their</i> object directly.</div>

<div class="alert alert-success">

## Exercise 5

**a1.** Create a **list** of the planets, in order of distance from the sun:\
Mercury\
Venus\
Earth\
Mars\
Jupiter\
Saturn\
Uranus\
Neptune

**a2.**  Check you have indeed created a list containing planets.

**a3.**  Using the list, print out the name of the planet closest to the sun.

**a4.**  Print out the name of the planet furthest from the sun.

**a5.**  Print out the name of every third planet from the sun.

**a6.**  Print out the names of the planets from the furthest from the sun to the closest.

**a7.**  Print out the names of the planets in alphabetical order.

</div>

### Tuples
Tuples can be thought of as lists that **cannot be modified** after their generation.  To create a tuple use round instead of square brackets.  Python syntax that often trips people up is when a tuple is declared to contain only one element.  In such situations, that single element must be followed by a comma.  These points are demonstrated below:

In [ ]:
beatles = ('John', 'Paul', 'George', 'Pete')
print(beatles)

solo = ('Prince', )
print(solo)

### Dictionaries

Dictionaries (`dict`) are mutable structures that store data in what is known as **“key/value”** pairs.  The datatype name is intuitive since the key serves as the dictionary word to look-up, and the value serves as the definition of that word.  Importantly, the keys must be unique, whereas the values can contain duplicates. Also, each value (definition) **may only hold one object.**  Unlike real dictionaries however, the `dict` **keys are actually unordered**. 

To declare a dictionary, use the following syntax:

In [ ]:
a_team = {'Hannibal': 'Lieutenant Colonel John Hannibal Smith', 'Face': 'Lieutenant Templeton Arthur Peck', 'BA': 'Sergeant Bosco Albert Baracus', 'Murdock': 'Captain H.M. Murdock'}
print(a_team)

This creates a dictionary named `a_team` which holds 4 key / value pairs, referring to an individual's nickname / real name.  For example: the key "Hannibal" is paired with the real name value "Lieutenant Colonel John Hannibal Smith".

Values may be retrieved by entering the dictionary's name and then entering the relevant key, placed between square brackets:

In [ ]:
a_team['Face']

You may add a new entry to a dictionary as follows:

In [ ]:
a_team['Amy'] = 'Amy Allen'
print(a_team)

And delete entries:

In [ ]:
del a_team['BA']
print(a_team)

### Ranges

Ranges contain an ordered list of integers. You may create a range in several of ways, of which the simplest is to specify the stop value.  This will create a range from 0 to, but not including, that **stop** value.

In [ ]:
range(3)

The returned value will show that a range has been created and also display the **start** and **stop** values.  If we pass this range to a list, you will see that the values of the range are 0, 1, and 2 but not 3:

In [ ]:
list(range(3))

<div class="alert alert-info">
Passing a range to a <code>list()</code> function highlights an important concept: <b>Python data structures may be generated from pre-existing data structures.</b>  
<br>
<br>
Using this technique is often an efficient way to generate a desired collection.  For example, by creating a list from a range is quick way to generate a list with a large number of elements (you wouldn’t want to type out every number, now would you?).
</div>

If you wish the range to start at a value other that 0, then simply add this before the stop value:

In [ ]:
list(range(100, 111))

You may also pass a third argument when creating a range, namely a **step** value which sets the number by which the range should be incremented until it reaches the stop value.

In [ ]:
list(range(2, 10, 2))

If you choose an end value equal to or less than the start value, then the returned range will be empty.  If you choose a negative step value, then the stop value will need to be less than the start value.

In [ ]:
list(range(3, -3, -1))

### Introspection
In computer programming, introspection is the ability to determine the type of an object at runtime.  This can be achieved in Jupyter Notebook by typing `?` or `??` before or after the name of the object of interest.  Using `?` gives  information about the object, and `??` can give even more information.

In [ ]:
?a_team

Since this applies to objects, introspection will work for strings, collections and functions etc. and provide a useful way to keep track of what is what in a Jupyter Notebook. (Don't worry if you do not know what these terms mean, we shall introduce them later on.)

## Summary
That brings the Python section to an end and all being well most of it was familiar.

If however, you have started this course but are new to Python then you may feel we have already covered a substantial amount of material.  And that is true, for learning to program is akin to learning a foreign language, requiring a considerable amount of time and effort to become fluent.  Although much new material may have been introduced here, it is just a small fraction of what Python has to offer.  To reinforce your newly acquired knowledge we recommend you attend a Python course.  But in the meantime, the Python we have covered so far should be all but everything you need to know to complete this course.

<div class="alert alert-success">

## Exercise 5.2

**b1.**  Create a **dictionary** named "elements" of the chemical elements:\
H: Hydrogen\
Li: Lithium\
Na: Sodium\
K: Potassium

**b2.**  Retrieve from the dictionary the name of the chemical element with symbol Na.

**b3.**  Remove Hydrogen from the dictionary

<hr>

Generate the **ranges** objects described below (check your answers by passing the range to a list and view the results).

**c1.**  Create a range of integers from 1 to 7 inclusive.

**c2.**  Create a range of integers -5 to 3 inclusive.

**c3.**  Create a range of all the odd numbers from -3 to 5 inclusive

<hr>

**\*d1.**  Create a list that contains the planets list, the chemical elements dictionary and the three ranges objects.

</div>

# Pandas
The process of manipulating and analysing datasets is performed using the Python library **pandas**.  This library is itself built upon another library named NumPy.  While we shall not go into detail discussing **NumPy**, we shall mention this library in passing because some of its methods can be applied to pandas data structures.  The NumPy library is mainly used to manipulate multi-dimensional matrices, which is common practice in areas such as machine learning.  But don’t be put off if this sounds a little daunting, all you need to remember so far as NumPy is concerned is that it can be used as an accessory tool when working with pandas. 

(If you do wish to know more about NumPy and machine learning, then please be aware that the LMB offers courses in both these subjects.)

The software package pandas is a Python library, so to use pandas simply import it as you would any other Python library:

In [ ]:
import pandas as pd

This uses the familiar `import` command to make available the pandas module.  It is worth pointing out here that this command will result in the pandas module subsequently being referenced in the code as `pd`.  This is a widely used convention when using pandas and will be followed in this course.  We strongly recommend that you follow this convention when writing your code.

The pandas schema involves categorising data in two types of data structure, known as pandas **Series** and a pandas **DataFrame**.

## Pandas Series
Panda Series are similar to lists in that they contain an ordered sequence of values.  When data – which can include numerical or string data types – has been imported into a Series, it may then be subject to a wide range of manipulation and analysis techniques.

### Creating Series
A pandas series may be created as follows:

In [ ]:
series1 = pd.Series([9, -3, 30, 100])

The command `pd.Series` (which uses the Pandas module) creates the Series.  The command has been passed a Python list object containing four integers.   (Other data types, such as a tuple or a dictionary could have been used.)

As is the case for native Python objects, the `type()` command can be used to confirm a Pandas Series object has been created:

In [ ]:
type(series1)

Simply typing the variable name in the Jupyter Notebook will return more information about newly created objects.  In this case entering the name will list each of the four elements of the object.  Information is also provided on the data the Series actually holds, namely: `int64` – which means the Series contains integers, but not other data types.  

Importantly, to the left of the integers values are the numbers 0 to 3.  Similar to Python list objects, each element within a Pandas Series is referenced by a numerical value, which, by default, starts at zero and increases incrementally by one.  This is known as the **index** of a Series and can be seen represented in the cell below.

In [ ]:
series1

The index allows specific values within the Series to be accessed, in a fashion once again similar to Python lists.  For example, the second item in this Series may be retrieved as shown below.

In [ ]:
series1[1]

In [ ]:
# Provide a list of values
series1[[0, 2]]

### Querying a Series
Once you’ve made a Series, a common task is to check what it contains.

Pandas Series are objects that have **attributes** and **methods** associated with them.  Reading the official pandas documentation will provide a thorough overview of this subject, but we shall highlight some of the most useful attributes and methods here.

To obtain an overall summary of a Series, use the in-built `describe()` method.   (You will see below that this method provides a summary report by returning another Series (`float64`).

In [ ]:
series1 = pd.Series([10, 20, 30, 40, 50])
series1.describe()

The information retrieved using the `describe()` method will vary depending on the input Series.  In the previous example the Series of interest contained only numbers and thus returning mean, quartile and other similar statistics make pertinent summary metrics.  If however – as in the example below – a Series were to contain character strings, then a different set of summary metrics would be needed.

In [ ]:
series2 = pd.Series(['Cat', 'Cat', 'Dog', 'Cat', 'Dog'])
series2.describe()

### Changing values
Series are mutable objects, meaning they can be edited after their initial creation.  In the example below this is achieved using the assignment operator (`=`) to change the second element of the Series to the character "a".  (Also note that after having done this, the Series no longer holds only integers, but now contains a mix of different data types, which is reflected in the new `dtype` description).

In [ ]:
series1[1] = 'a'
series1

It is also possible to manipulate multiple values simultaneously in this way.  In the example below, two elements of the list are changed to the character 'b'.  (If you look at this syntax some more, it should become clear that a Python list containing the index values to alter, has been passed to the Series.)

In [ ]:
series1[[2, 4]] = 'b'
series1

Or we could modify more than element simultaneously, but on this occasion differing values.  Pass to the series a list of index values to edit and assign these the new values using a Python list.  This is probably illustrated more clearly by the code itself:

In [ ]:
series1[[2, 4]] = ['c', 'd']
series1

In the following example, rather than passing numbers directly to denote the index, we have used a colon to refer to the numbers from 1 until the end of the Series (using the splicing technique we encountered earlier).

In [ ]:
series1[1:] = 'X'
series1

### Calculations using Series
A powerful feature of pandas is that all the individual elements of a Series may be manipulated in the same way using a single command.  To put it simply, suppose you had a Series of numbers and wanted to multiply all the individual values by 10, well that could be done as shown below:

In [ ]:
series1 = pd.Series([1, 0, 4.2, -10])
series1 = series1 * 10
series1

### Filtering data
A common task is to select only values from a dataset that meet a certain criterion.   There are 2 steps in the process:

1. Perform a test with a logical operator (e.g. `==`, `<`, `>`, `<=`, `=>`) to generate a Boolean Series.

2. Use that Boolean Series to filter the original series.

Let’s use this approach to filter the previous Series, extracting all negative numbers 

Firstly, perform the Boolean test:

In [ ]:
boolean_series = series1 < 0
boolean_series

Now use this Boolean Series to select the values that meet the logical criterion:

In [ ]:
series1[boolean_series]

**(Note: notice in the above example, that the original index value of 3 is returned i.e. the index is not reset to 0.)**

Actually, these above 2 steps can be combined into a one-line expression, in which the logical test is placed between the square brackets:

In [ ]:
series1[series1 < 0]

### Series index
We introduced the concept of a Series index previously.  These are essentially the labels for each element of a Series.  By default, when creating a Series, these index value are assigned numerical values (starting at 0) and increment by 1 for each element of the Series.  And again as shown before, when filtering a Series the original index values are maintained in the new series.

Although Series are assigned default numerical values, the coder may choose to override these and specify custom values.

In the following example we generate a Series with default index values:

In [ ]:
default_series =  pd.Series(['Apple', 'Banana', 'Cherry'])
print(default_series)

In contrast, in this example the coder specifies letters for the index, which is reflected in the output:

In [ ]:
custom_series = pd.Series(['Apple', 'Banana', 'Cherry'], index=['a', 'b', 'c'])
print(custom_series)

These user-specified index values may be used to retrieve their corresponding values:

In [ ]:
custom_series['b']

Or to retrieve multiple values at once, pass a Python list:

In [ ]:
custom_series[['b', 'a']]

This concept of having a "label" for a specific value may remind you of the Python dictionary.  And indeed, a dictionary may be used to create a series with custom index values.

In [ ]:
custom_dict = {'a' : 'Apple', 'b' : 'Banana', 'c' : 'Cherry'}
custom_series = pd.Series(custom_dict)
custom_series

Suppose that upon creating a Series you wish to change the order of its elements, well that is possible by specifying the order to the `index` parameter of the Series constructor.

In [ ]:
new_order = ['b', 'c', 'a']
custom_series = pd.Series(custom_dict, index=new_order)   # Specify the index parameter to order the elements
custom_series

### The `in` operator

Here the `in` operator, which is a function of regular Python, can be used to determine whether a Series contains a specified index:

In [ ]:
print('a' in custom_series)
print('z' in custom_series)

<div class="alert alert-info">
<b>Note:</b>  That is already quite a lot to take in, and indeed there are even more ways in which indexes can be used.  A Series could contain duplicated index values for example.  Alternatively, the numerical notation [0], [1],… can still be used to retrieve values from a Series even if the series has been specified custom strings instead of letters. However, if the Series has numerical and string index values, then the numerical notation [0], [1], may not be used.  You get the point, there is more to Series than discussed here, but we shall only cover the typical ways in which that are used for most applications and in most code.</div>

### Handling missing values
Datasets are rarely perfect and it is common for them to be incomplete.  Leaving such elements as blank in a Series, or maybe entering a 0 are possible ways to denote such omissions.  However, pandas has a better solution, which is the `NaN` datatype.  It is preferable to become familiar with the concept earlier rather than later in your pandas training, so we shall introduce it here.

The `NaN` value may be entered directly into datasets or can be generated as output from some computational process.  In the first example we generate a Series from a Python list, which contains `None` as its first term.  This will be interpreted by pandas as `NaN`.

In [ ]:
missing_series = pd.Series([None, 2, 3])
missing_series

In the second example, we make the `custom_dict` Series once more, and then order it by index.  However, attempting to order by a value not in the original index will create an `NaN` in the pandas DataFrame.

In [ ]:
custom_dict = {'a' : 'Apple', 'b' : 'Banana', 'c' : 'Cherry'}
custom_series = pd.Series(custom_dict)
print(custom_series)

In [ ]:
new_order = ['b', 'c', 'a', 'd']
custom_series = pd.Series(custom_dict, index=new_order)
print(custom_series)

Pandas allows the user to identify for `NaN` values in a series with the `isnull()` pandas method.

In [ ]:
pd.isnull(custom_series)

In fact, the same result may be achieved by using the `isnull()` method that is built into Pandas series: `custom_series.isnull()`

There is also a `notnull()` method, which as you have probably guessed, generates the opposite output to `isnull()`.

### Combining Series using index values
A useful feature of the Series Index is that it can be used in operations involving more than one Series.  In the example in the following cell we have summed expression values from two Series in a gene-wise fashion.

Notice that the order of GeneA and GeneB are different in the two Series.  Importantly, you will see that the addition is performed via **index matching** and not the order of the GeneA / GeneB in the datasets.  (In the example here the index has gene name values, but the result would be the same if numerical values were used instead).

In [ ]:
expression_data_1 =  pd.Series({'GeneA' : 30, 'GeneB' : 80})
expression_data_2 =  pd.Series({'GeneB' : 0,  'GeneA' : 100})

total = expression_data_1 + expression_data_2
total

### The Series index object
The Series index is an object in its own right

In [ ]:
type(total.index)

Finally, both the Series object and its ndex object may be assigned names:

In [ ]:
total.name = 'Gene_Expression'
total.index.name = 'Gene_Name'
total

<div class="alert alert-success">

## Exercise 6

**a1.**  Create a Series named "buildings" which contains the following integers:\
2717, 2227, 2073

**a2.**  Add an index to the `buildings` Series with the following names:
Burj, Merdeka, Shanghai

**a3.**  These are heights of buildings, but they are in feet, whereas we want height values in metres. To do the conversion divide all the existing heights by 3.281.

**a4.**  Set the index name to: "height_m".

**a5.**  Perform a logical test that reports whether a height is greater than 800 metres.  The test should return a Series of `True` / `False` values.

**a6.**  Let's suppose the three building are to be extended by placing antennas on the top.  The height increases (metres) will be:

Merdeka: 10
Burj: 5
Shanghai: 12

Create a Python dictionary recording these value and create a new pandas Series named "antennas" from this dictionary.

**a7.**  Now add the "buildings" and "antennas" Series together.  Does the order of the values in their respective Series affect the final totals?

<hr>

**b1.**  Create a Series called "forename" containing the first name of *3* people on this course.

**b2.**  Create a Series called "surname" containing the surnames of the first *2* of those people (in the same order).

**b3.**  Use the addition operator (+) to combine those two Series into a new Series named "fullname".

**b4.**  Print out the `fullname` Series.  What do you see ?

**b5.**  Use the `isnull()` method to identify `NaN` values in the `fullnames` Series.

<hr>

**\*c1.** Create a pandas Series that contains the first 100 values of the Nine Times Table i.e. 9, 18,.., 891, 900.
    
</div>

## Pandas DataFrames
So you’ve learnt that a Series is a collection of data.  Well, DataFrames are similar but store data as we are familiar with in everyday life in the form of tables.  A spreadsheet (as used in MS Excel) is a good example of arranging data in this way, in which the data is arranged into columns and rows.

(If you are familiar with the statistical programming language R, you will be aware that it has an in-built datatype called a "dataframe" which is similar to the pandas object of the same name.)

<img src='course_images/DataFrame_Schematic.svg' title='DataFrame Schematic'/>

### Creating DataFrames

#### Using Lists
A simple way to create a DataFrame is to use Python lists.  **Each separate list will constitute a separate row in the DataFrame.**  These lists should then be placed all together inside an "outer" list, which is then passed to the DataFrame constructor method. 

This may sound a little complex, but looking at the code below should make this clearer.  You can see three lists containing data inside a fourth list (hence the double square brackets).  This collection has then been passed as an argument to `pd.DataFrame()`.

In [ ]:
df = pd.DataFrame(
        [[1, 2, 3],
         [4, 5, 6],
         [7, 8, 9]])

df

Instead of adopting the default numerical values, you can specify the column names (column index) when creating a DataFrame:

In [ ]:
df = pd.DataFrame(
        [[1, 2, 3],
         [4, 5, 6],
         [7, 8, 9]],
    columns=['a', 'b', 'c'])

df

And, if you wish, the row names (row index) as well:

In [ ]:
df = pd.DataFrame(
        [[1, 2, 3],
         [4, 5, 6],
         [7, 8, 9]],
    columns=['a', 'b', 'c'],
    index = ['one', 'two', 'three'])

df

#### Using Dictionaries
Another convenient way to create a DataFrame is to use a Python dictionary, or more specifically a dictionary of lists.  Yes - it is possible in Python to make such nested objects!

Each dictionary key will denote a column name.  Associated with each key is a list, which corresponds to the DataFrame column values (notice that this is different from the previous example, in which each list formed a row, not a column, in the new DataFrame).

In [ ]:
df = pd.DataFrame(
    {"a" : [1, 2, 3],
     "b" : [4, 5, 6],
     "c" : [7, 8, 9]})

df

You could declare the dictionary separately to achieve the same objective:

In [ ]:
data_dict = {"a" : [1, 2, 3], "b" : [4, 5, 6], "c" : [7, 8, 9]}
df = pd.DataFrame(data_dict)
df

### DataFrames and files
Data can also be extracted from files and used to create a DataFrame, and vice versa. 

#### Importing file data into a DataFrame
Data can be read from a file using the pandas `read_csv()` method.  This allows data to be imported which is in either one of the commonly used formats: Comma Separated Values (CSV) or Tab Separated Values (TSV).

This method has many options, but the general command to import data is

`imported_data = pd.read_csv(filename)`

This will import a CSV file, to import a TSV file you need to specify that tabs are used as the delimiter (the character that separates columns from one another):

`imported_data = pd.read_csv(filename, sep='\t')`

Other options allow the user to specify whether the input file has headers, whether to skip rows and what data format is found in each column.


There is also a separate method to read Excel files.

`imported_data = pd.read_excel(filename)`

#### Exporting DataFrame data to a file
Writing to a file is similar to reading from a file and entails running a DataFrame method to which the output file path has been passed as a string argument:

`DataFrame.to_csv(filename)`

`DataFrame.to_csv(filename, sep='\t')`

`DataFrame.to_excel(filename)`

#### Importing Test datasets

Often the simplest way to practice using pandas is to try out commands on test datasets.  The Python module seaborn (https://seaborn.pydata.org) has a variety of test datasets that can be used for a range of analysis techniques.  

The lists of datasets may be viewed at:
https://github.com/mwaskom/seaborn-data

To access a dataset, simply import the seaborn module and load the desired dataset.  The example below imports the "Penguins" dataset.

In [ ]:
import seaborn as sns
penguins = sns.load_dataset('penguins')

penguins

### DataFrame Structure
After having made a DataFrame it is often useful to check that it is of the correct size.  Pandas DataFrames have a `shape` attribute to make this possible.

(Although printing out a DataFrame to a Notebook will display the dimensions of that DataFrame as footer, these values cannot be easily assigned to a variable, but using the `shape` attribute overcomes this drawback.)

In [ ]:
penguins.shape

This returns a **tuple** Python object that contains 2 pieces of information: the first entry reports the number of rows while the second reports the number of columns.  You will see that the returned result of 344 rows x 7 column matches that displayed in the cell above where the DataFrame is rendered to the screen.

To retrieve programmatically the number of rows or number of columns then use the square brackets indexing notation:

In [ ]:
print(penguins.shape[0])   #Number of rows
print(penguins.shape[1])   #Number of columns

In addition, the `info()` method returns details on the type of data stored in a DataFrame or a Series:

In [ ]:
penguins.info()

### Exercise 6

**a1.**  Let's place the data looking at building heights from the previous exercise into a DataFrame.  Name the first column "height" and the second column "antenna".  Set the row names to the names of the buildings.

**a2.**  Print out the "antenna" column.

**a3.**  Print out the the row containing the Burj data.

**a4.**  Create a Boolean list and use it to print the middle row only.

### Indexes (row and column names)

Most people's introduction to data analysis is using MS Excel, which stores information in a spreadsheet comprising cells organised into rows and columns.  By default in Excel the rows are assigned numerical values while the columns are labelled using letters.  By comparison, pandas not only names rows using numbers, but also labels columns using numbers (starting a 0 and incrementing by 1: 0, 1, 2,...).

Pandas DataFrames are constructed from three components 
1. a NumPy array, which stores the data - we shall introduce NumPy later
2. an index that stores the row names
3. an index that stores the column names

Although by default both indexes have numerical values, they may be changed and given custom values - as we have seen already.  Also, duplicate values **are** allowed within an index.

It is important to remember that index values should be thought of as labels (they are not akin to row number in Excel).  What does that mean?  **Well, suppose we re-order the rows of a DataFrame, this will result in the row indexes being re-ordered as well.**  That means that the first row may no longer have the index value of 0.  (We shall see an example of this when we sort DataFrames later in the course.)

Let's illustrate these points:

In [ ]:
df

To extract the contents of the array use the `values` attribute, which returns what is known as a **NumPy array**:

In [ ]:
print(df.values)
print(type(df.values))

We can also retrieve the row names and column names with the `index` and `columns` attributes respectively.  These values are stored in an **index object**.

(This naming system may seem a little strange since `index` returns the rows index.  Why not call this attribute `rows` instead?  Well, that's just the way it is.)

In [ ]:
df.index

In [ ]:
df.columns

You will notice that the index object returned for the rows is not the same as for the columns.  This is because we are storing different types of data.  The row names index use the default numbering system - which is best stored as a Python range object.  The column names index stores custom values, which needs to be stored in a Python list.

<div class="alert alert-info">
Now is a good point in the course to introduce the concept of <b>axis</b>.  This denotes whether we are referring to rows or columns.  The naming convention used by Pandas is as follows:
    
<b>Rows (horizontal axis): axis=0</b>  
<b>Columns (vertical axis): axis=1</b>
</div>

Should you wish, it is possible to give names to your column and row indexes by setting the relevant attribute:

In [ ]:
df.columns.name='Column_Index_Name'
df.index.name='Row_Index_Name'
df

### Accessing data

#### dict-like notation
Look at the dataset below of test scores:

In [ ]:
tests = pd.DataFrame(
    {'Person' : ['Adele', 'Adele', 'Beyonce', 'Beyonce', 'Chesney', 'Chesney'],
     "Subject" : ['Maths', 'English', 'Maths', 'English', 'Maths', 'English'],
     "Result" : [91, 67, 54, 69, 80, 61]})

tests

The **dict-like access notation** entails placing between **square brackets** details of the rows or columns to retrieve.  This method can be used in several ways.  A column may be retrieved from the DataFrame using the notation shown below.  The object returned will be a Series.

In [ ]:
tests['Result']

In fact it is possible to return more than one column simultaneously from a DataFrame by using this notation.  To achieve this instead, pass a Python list of column names.  If for example we wanted to return the columns 'Person' and 'Result', place the Python list `['Person', 'Result']` between the square bracket:

In [ ]:
tests[['Person', 'Result']]

Notice the double square brackets used here, since we a passing a list rather than a single value.  The returned object on this occasion is a DataFrame rather than a Series.

Also, we may retrieve columns **in any order** from the DataFrame and not simply adopt the original order.  In the example below the order is reversed:

In [ ]:
tests[['Result', 'Person']]

Moreover, should we ever want to, we can duplicate columns in this way:

In [ ]:
tests[['Result', 'Person', 'Person']]

In addition, it is also possible to return specific rows rather than columns. To do this, pass a list of boolean values that correspond to the rows that are to be returned.  The example below returns the first, second and last rows only from the DataFrame.

In [ ]:
tests[[True, True, False, False, False, True]]

#### `iloc` index operator

The `iloc()` index operator allows the user to specify single or multiple row and/or columns using **positional information**.  (By position information we mean that the first row and is labelled 0, the next row is labelled 1 and so on.  This **positional information is independent of the row index name** - although they may be the same.)

Similarly, working from left-to-right, columns are labelled 0, 1, 2,...

Passing single numerical values as an argument using iloc will return the corresponding **row** as a Series.

`.iloc[row]`


Here we return the second row of the `tests` DataFrame.

In [ ]:
tests.iloc[1]

More commonly we would specify the **row and the column** to be returned.

`.iloc[rows, columns]`

For example, to select the first entry in the third column:

In [ ]:
tests.iloc[0, 2]

Use a solitary colon to select entire rows or columns (this is a slice, which we encountered before, and it means select everything).

In [ ]:
tests.iloc[1, :]

Likewise, to chose a whole column (the second column in this instance):

In [ ]:
tests.iloc[:, 1]

It is also possible to select adjacent rows or columns by slicing the data:

In [ ]:
tests.iloc[2:4, :]

As well as specifically defined selections using Python lists:

In [ ]:
tests.iloc[[0, 4, 5], [2, 0]]

(Notice the index values of the returned DataFrame are the same as in the original DataFrame.)

Maybe a little bit surprisingly, `'iloc'` can also accept boolean values to retrieve rows and columns.

In [ ]:
# Selecting the fist, second and last row
tests.iloc[[True, True, False, False, False, True]]

In [ ]:
# Selecting the fist, second and last row from the second column
tests.iloc[[True, True, False, False, False, True], [False, True, False]]

#### `loc()` index operator

The `loc()` index operator allows single or multiple rows and columns to be selected simultaneously using **named values**

The `loc()` index operator works in a similar fashion to `iloc()`, except that this method takes as input column names or row names.

The `loc()` index operator can take single values, which will return the corresponding *row*.  It uses the *index* name.

`.loc[index]`

So to return the row with the index value=1 (the second row):

In [ ]:
tests.loc[1]

In a similar fashion, it is also possible to pass a list of index values to return.

In [ ]:
tests.loc[[0, 5]]

The `loc()` index operator will also accept a list of Boolean values:

In [ ]:
tests.loc[[True, False, False, False, False, True]]

The `loc()` index operator can be used to retrieve specific **columns** as well.

Passing a row name and a column name will return a single value.

`.loc[rowname, column_name]`

In [ ]:
tests.loc[1, 'Result']

Similar to `iloc()`, we can pass splices to the `loc()` index operator:

In [ ]:
tests.loc[2:4, 'Result']

 **Notice that slicing with loc(), unlike other slices, will include the end value.**

As before, the returned data is a Series.

Use a Python list to return specific named columns:

In [ ]:
tests.loc[:, ['Subject', 'Person']]

It is possible to use the row index values at the same time to access elements in the DataFrame:

In [ ]:
tests.loc[[3,5,0], ['Result', 'Person']]

We can also perform a slice to extract contiguous columns from a DataFrame.  **Notice in the slice below, along other slices, we include the end value.**

In [ ]:
tests.loc[:, 'Person':'Subject']

Also, similar to `iloc()`, `loc()` can  accept boolean values to retrieve rows and columns.

In [ ]:
# Selecting the fist, second and last row
tests.loc[[True, True, False, False, False, True]]

In [ ]:
# Selecting the fist, second and last row from the second column
tests.loc[[True, True, False, False, False, True], [False, True, False]]

So to summarise: `iloc()` accepts **positional information**, whereas `loc()` accepts **row and column index names**.  Often these will be the same since the default naming of a row / column follows the numbering convention 0, 1, 2,..  However, if this convention is not followed, or if a DataFrame is filtered or sorted then then **`iloc` and `loc` ids may not correspond to one another**.  The diagram below illustrates this point.

<img src='course_images/loc_iloc_Schematic.svg' title='loc and iloc Schematic'/>

<div class="alert alert-info">

<b>Dot notation</b>

You may encounter an alternative dot notation to access data from DataFrames, e.g.

`tests.Result`

We do not favour this naming convention as it may not work in some situations: such as if the desired column name is identical to a DataFrame property or if the column name contains spaces.

#### `head()` and `tail()`
It is not feasible to print out large DataFrames in their entirety to the screen and so in such cases a Jupyter Notebook will only dislpay a subset of the data.  However, a user may simply be interested to view a small number of rows from the top or bottom of a DataFrame, which can be achieved with the `head()` or `tail()` methods respectively.

Head is used to view the top of a DataFrame:

In [ ]:
tests.head()

By default, the row index and column headers are displayed, along with the first 5 rows of data.  (Admittedly this DataFrame is relatively small to begin with and so applying the `head()` method is of minimal use, but the point still stands.)

The `head()` method may also be passed an integer argument to display a selected number of rows from the top of a DataFrame.

Similarly, `tail()` is used to select from the bottom of a DataFrame:

In [ ]:
tests.tail(1)

<div class="alert alert-info">
<b>The <code>inplace</code> parameter</b>
<br>
<br>
As you read the pandas documentation you will no doubt repeatedly encounter the parameter <code>inplace</code>.  When <code>inplace</code> is set to <code>True</code> the behaviour of a method is set so that it doesn't return anything, it instead modifies the original DataFrame.  (For most methods the <code>inplace</code> parameter is set to <code>False</code> by default).

`df = df.my_method()`

Instead, you can write this as:

`df.my_method(inplace=True)`

Which you choose is largely a matter of style.  Some coders find the latter less cluttered, particularly when a DataFrame is to undergo multiple manipulations.  However, the explicit use of the assignment operator can make it clearer that a DataFrame in undergoing changes, and this style will be adopted in this course.
</div>

### Changing values
Many of the concepts introduced with the Series object apply to DataFrames, including how to change pre-existing values by referencing the location to change and then assigning a new value:

In [ ]:
tests.loc[1, 'Result'] = 100
tests

Since we can select multiple DataFrame entries simultaneously, we can therefore change multiple DataFrame entries at simultaneously:

In [ ]:
tests.loc[[4, 5], 'Person'] = 'Dua Lipa'
tests

<div class="alert alert-success">

### Exercise 7

**a1.**  Import the Seaborn Titanic test dataset.

**a2.**  Use the `shape` attribute to report the number of rows and columns.

**a3.**  Use the `info()` method to learn more about the dataset.

**a4.**  Use `loc()` to print out the "age" column.

**a5.**  Use `loc()` to print out the "class" and "embark_town" column

**a6.**  Use `loc()` to print out the last 5 columns.

**a7.**  Use `loc()` to print out the last 5 columns of the last 5 rows.

**a8.**. Create a Boolean list and use it to print rows 2,4,6. - Need to make answer for this!

<hr>

**b1.**  Import the dataset file "Biomass_of_Herbivorous_Fish.tsv".

**b2.**  View the top and bottom of the data with the `head()` and `tail()` methods.

**b3.**  Use the `iloc()` method to print out the first three rows.

**b4.**  Use `iloc()` to print out the second row and columns at **positions** 3, 5, 2 (in that order).

**b5.**  Use `iloc()` to print bottom right-most element.

**b6.**  Change the "Shallow.Percentage" value to 0 for all rows.

<hr>

**\*c1.**  Import the file "Premier_League_Final_Table_1999.txt" into a DataFrame and append columns:

i) "GD": Goal Difference (Goals For - Goals Against)

ii) "Pts": Points (3 points for a win and 1 for a draw)

Write out the modified table to an MS Excel file.

</div>

### Sorting columns by values
Often you will need to sort columns by their values, which can be done using the `sort_values()` method.  Specify the column by which you wish to sort the data. (Notice that the index values are sorted as well.) 

For columns containing any strings a lexicographical order is used to sort the data.  In contrast, if the column contains only numbers (or numbers and `NaN` values), then a numerical sort will be performed.

In [ ]:
tests.sort_values(by='Result')

It is possible to sort data by more than one column by passing a list of column names to use for sorting.  The data will be sorted by the first column in the list and any resulting ties will be resolved by then sorting the data by the second column in the list.  And so on. 

It is also possible to specify how the data should be sorted by passing boolean values to the `ascending` parameter (`True` means sort in ascending order, `False` means sort in descending order) .  

To clarify, the example below sorts the data by the "Person" column in descending order and then by the "Result" column in ascending order:

In [ ]:
tests.sort_values(by=['Person', 'Result'], ascending=[False, True])

While we are discussing sorting by values, it is worth mentioning the `rank()` method that reports ordinal (1st, 2nd, 3rd,...) values of a given series.  In the example below we can see that the second row in the DataFrame would be in 1st place, were we to sort the "Result" column in descending order.

In [ ]:
print(tests['Result'])
print()

tests['Result'].rank()

### Renaming rows and columns
Column names can be set using the DataFrame attribute `columns`.  Simply pass the a Python list or a Series to rename all the columns.

In [ ]:
tests.columns = ['ColA', 'ColB', 'ColC']
tests

It is also possible to change the **row** index of an existing DataFrame by using the `index` attribute.

In [ ]:
tests.index = ['A', 'B', 'C', 'D', 'E', 'F']
tests

To rename the columns (or index values) you may find it easier to first extract the column names from the DataFrame, edit the desired entries, and then use this to rename the column names.

Column names can in fact be retrieved using the DataFrame property `columns`.  This returns the column names as a pandas index which can then be converted to a Python list or a Pandas Series.

In [ ]:
# Extract column names
column_names = tests.columns
print(type(column_names))

# Convert Pandas index to Pandas series
column_names = column_names.to_list()
print(type(column_names))
print(column_names)

# Edit the column names
column_names[1] = 'Subject'
print()

# Use the columns property to rename the columns
tests.columns = column_names
print(tests)

Another way of renaming columns (and rows) is to use the `rename()` method.  This method is "safer" to use for it requires **both** the current index names and the new index names.  This approach makes it less likely that index names will be mislabelled - which is a catastrophic error.  

The oldname-newname mapping is done using a Python dictionary.  Set the `axis` parameter to 0 to rename rows and set it to 1 to rename columns.  We shall rename the columns in the example below:

In [ ]:
tests = tests.rename(mapper={'ColA' : 'Person', 'ColC' : 'Results'}, axis=1)
tests

### Calculations using DataFrames
Also similar to Series, values in DataFrames may undergo mathematical operations:

In [ ]:
print(df)
print()
df2 = df * 10
df2

Here, the whole DataFrame has been multiplied by 10.  It is possible to perform mathematical operations on rows or columns by specifying the row or column explicitly:

In [ ]:
df['c'] = df['c'] / 3
df

As with Series that we encountered previously, we can perform mathematical operations on more than one DataFrame.  In the example below we add two DataFrames together:

In [ ]:
df + df2

**But beware!**  As with Series, these mathematical operations take into account the index values and not the position within the matrix.

In [ ]:
df1 = pd.DataFrame(
        [[1, 2, 3],
         [4, 5, 6],
         [7, 8, 9]],
    columns=['a', 'b', 'c'],
    index = ['one', 'two', 'three'])

df2 = pd.DataFrame(
        [[9, 8, 7],
         [6, 5, 4],
         [3, 2, 1]],
    columns=['c', 'b', 'a'],
    index = ['three', 'two', 'one'])

print(df1)
print()
print(df2)

If we add df1 to df2, we do not create a DataFrame which has values of all 10 since the **column names and row names are used to decide what value is added to which value**.

In [ ]:
df1 + df2

<div class="alert alert-info">

**Handling `NaN` values in calculations**
    
It is worth mentioning at this point the behaviour of `NaN` values.  Performing a mathematical operation on a `NaN` will generated a `NaN`.  For example:

`1 + 2 + 3 + 4 + NaN = NaN`

So imagine you are adding together multiple DataFrames, of which some contain `NaN` values.  It is easy to see therefore how `NaN` may propagate with each successive addition of data.

This behaviour may be desirable, but it may not and you need to decide how to handle `NaN` values - one regularly employed solution is to convert `NaN` values to 0.  You could do this to all the DataFrames to be analysed before performing the additions.  An alternative is to use the pandas methods to perform mathematical operations on DataFrames.

`add()`
`sub()`
`mul()`
`div()`
`mod()`
`pow()`

Importantly, these methods have a parameter named `fill_values` which is used fill existing missing (`NaN`) values with this value before computation. 
</div>

### Rounding

In a previous example we divided the values in the column "c" by 3, which generated non-integer numbers.  To maintain a high degree of accuracy these non-integer values can be used in further calculations.  However, there are occasions when we need to round numbers, such as when presenting final summary results.  This can be achieved with the pandas `round()` method.  The method receives as an argument the number of decimal places required following rounding.  So, to round the `DataFrame` to 2 decimal places:

In [ ]:
df

In [ ]:
# Now round
df = df.round(2)
df

## Deleting pandas objects

While most modern computers have ample memory for most datasets, storage capacity is not infinite and so it may be prudent to delete no longer required pandas objects from RAM.  Also, keeping many unneeded objects can make your workspace cluttered and more prone to coding errors.  To delete pandas objects use the `del()` function:

In [ ]:
# Cell raises exception - added "raises-exception" tag

temp = [1, 2, 3]
temp2 = [4, 5, 6]

del([temp, temp2])   #Use del(temp) for 1 object at a time

print(temp)

## Filtering

### Using the subscript operator
Series and DataFrames can be filtered.  If you look at the code below you will see that the DataFrame has been filtered to only include data where the "Results" column is greater than or equal to 80.

A separate variable was created named 'filt' that stores boolean values.  This Series of booleans was then used to select the desired rows (remember from before that DataFrame rows can be selected in this way).

(Notice that the filtered data is printed to the screen, but the original dataset is not modified.)

In [ ]:
filt = tests['Results'] >= 80     # Don't use the Python reserved word: "filter" 
print(filt)
print()
print(tests[filt])

It is possible to simplify this by combing the two separate lines of code and dispensing with the filter variable.

In [ ]:
tests[tests['Results'] >= 80]

In fact there are often many ways to achieve the same thing with coding and your choice will often be a trade-off between writing the fewest lines of code whist making each line of code easily understandable.  In this regard writing code is much like writing in English and you will develop your own style.

#### Multi-conditional filtering
A little more difficult are situations in which you need to filter on more than one term, but this can be achieved using Boolean evaluations that can be joined together with the and (`&`) / or (`|`) operators.

These operators behave as the words "and" / "or" behave in the English language.  For example, to be able to drive a car in the UK you need to pass your theory test **and** practical test - both statements need to be true.  In contrast, a shop may accept either money **or** a credit card to buy an item - at least one statement needs to be true. 

Let's now demonstrate this using code where we want to retrieve test scores greater than or equal to 90, **and/or** any result for the subject "Maths".  This will require a multi-conditional filter.

In [ ]:
tests

In [ ]:
# AND
filt = (tests['Results'] >= 90) & (tests['Subject'] == 'Maths')
tests[filt]

In [ ]:
# OR
filt = (tests['Results'] >= 90) | (tests['Subject'] == 'Maths')
tests[filt]

We are making a Series of booleans named "filt", which will be passed to the tests DataFrame.  To make the filter, 2 logical tests have been performed: `tests['Results'] >= 95` and secondly `tests['Subject'] == 'Maths'`.  Both of these logical tests have been placed in round brackets to separate them.

Either of these tests needs to be `True` for the filter (`filt`) to evaluate to `True`.

<div class="alert alert-info">
<b>A note on logical operators</b>
<br>
<br>
You may be familiar with the Python logical operators <code>and</code> / <code>or</code>.  These will not work when comparing Ppndas Series/DataFrames, and so instead we need the Python logical <b>bitwise</b> operators.  We shan't explain the difference here, but the <b>bitwise and</b> is denoted by an ampersand (<code>&</code>) and the <b>bitwise or</b> is denoted by a pipe (<code>|</code>).  Usually, unless comparing Pandas objects or performing bitwise comparisons, you should use the <code>and</code> / <code>or</code> commands when writing Python code.
</div>

Another useful feature to know is that tilde (`~`) operator which will invert `True` / `False` values in a Series/DataFrame:

In [ ]:
tests[~filt]

### Using the `query()` method

An alternative to this approach is to subset data is to use a DataFrame's in-built `query()` method.  To filter the `tests` DataFrame in which rows have a "Results" value of greater then or equal to 80, we would execute the following code:

In [ ]:
tests.query('Results >= 80')

Another query is shown below where we extract all the Maths results.  Any literal strings referenced in the query string will need to be placed in double quotes i.e the whole query is placed in single quotes, and literal values inside the query are placed in double-quotes:

In [ ]:
tests.query('Subject == "Maths"')

You will notice that the desired filtering expression is placed between speech marks.  Since the `query()` method is being performed on the `tests` DataFrame, pandas interprets "Results" as a column name within the DataFrame.  It is possible to pass variables to the `query()` method by prefixing them with the 'at' symbol (`@`):

In [ ]:
threshold = 90
tests.query('Results >= @threshold')

Whichever approach you adapt is your decision and is a matter of style. We advise the `query()` method as I find it easier to read and can be chained to other methods (method chaining is described later in the course).

### Filtering using the `isin()` method
The `isin()` method assess whether each element in Series/DataFrame is contained within some other collection object.  The method returns the results as a boolean Series. This is useful for sub-setting datasets.

In [ ]:
to_select = ['Adele', 'Chesney', 'Dua Lipa']
              
filt = tests['Person'].isin(to_select)
tests[filt]

### Filtering using the `str.contains()` string method
Another useful filtering method is to search the contents of each element of a DataFrame for a pattern.  For example, suppose we want to extract the results for all the People that contain a "y" in their name.  The method takes the lookup term as an argument and returns a boolean Series or boolean DataFrame.

In [ ]:
filt = tests['Person'].str.contains('y')
tests[filt]

### Removing duplicates
Often you may need to remove rows that are duplicates.  For example, consider the following dataset:

In [ ]:
# Input data
exercise_data = sns.load_dataset('exercise')
exercise_data

Now, let's get the unique 'diet' / 'kind' combinations:

In [ ]:
# De-duplicated data
exercise_data.loc[:, ['diet', 'kind']].drop_duplicates()

(In case it wasn't clear, when we say "remove duplicates" it is implied that we **retain one representative copy** of each duplicate in our final dataset.)

Notice that we have joined together two methods during this de-duplication step.  The ability to join methods in this way is a useful feature of Python and pandas and is termed **method chaining.**

We could de-duplicate a single DataFrame column - although of course, technically speaking, this is de-duplication a Series.

In [ ]:
exercise_data.loc[:, ['diet']].drop_duplicates()

### Making new columns
Creating a new column in a DataFrame is straight forwards.  Just specify the name of the new column along with the associated values. 

There are many ways to do this, but in the example below the new column is passed a Python list of values.  Since the DataFrame `tests` has already been created, it is understood that the Python list will be converted to a DataFrame column.  The new column will be appended to the right-hand side of the DataFrame.

In [ ]:
tests['Results2'] = [90, 91, 50, 72, 65, 47]
tests['Results3'] = [67, 68, 35, 60, 63, 40]
tests

### Deleting rows and columns
The `drop()` method is used to remove rows or columns from a DataFrame.  The user needs to specify the column/row labels (`labels` parameter) or column/row index values (`index` parameter).  The user also needs to pass the `axis` parameter value to specify whether rows or columns are to be removed.  These concepts are illustrated in the plots below.

In [ ]:
tests.drop(index=['A', 'B'], axis=0)    # Remove first two rows

In [ ]:
tests = tests.drop(labels='Results3', axis=1)   # Remove the median column
tests

Notice in the example above that a string value (rather than a Python list) was passed to the `labels` parameter.  This was allowed because a single column was removed, but if multiple columns need to be removed then a Python list needs to be passed.

<div class="alert alert-success">

## Exercise 8
**a1.** Re-import the data Herbivorous fish dataset.  Use the `sort()` method to sort the Deep.Mean.Biomass.

**a2.**  Pass an argument to the `sort()` method so that "Deep.Mean.Biomass" is sorted from highest-to-lowest (rather than lowest-to-highest).

**a3.**  Sort the data alphabetically by "Family" and then by "Deep.Mean.Biomass" (most to least)

**a4.**  Use the `rank()` method to identify the greatest shallow percentage.

**a5.**  Let's use proportions (relative to 1) rather than percentages (i.e. divide all the percentage columns by 100).

**a6.**  Rename the percentage columns as appropriate.

**a7.**  Round all the results to 1 decimal place.

**a8.**  Create a new column that reports Deep.Mean.Biomass / Shallow.Mean_Biomass.  Name the column: "Deep.Shallow.Ratio".

**a9.**  Produce a Series of the **unique** "Family" values (i.e. remove duplicates, retaining one representative copy).

<hr>

**b1.**  Import the "Childrens_Indoor_Hobbies_During_Lockdown.csv" into a DataFrame (notice this is a comma-separated values spreadsheet).

**b2.**  Create a boolean series (`True` / `False`) representing rows where the 'Number' is greater than 100.  Filter the data using the boolean series.

**b3.**  Create a boolean series (`True` / `False`) representing rows where the 'Number' is greater than 50 but less than 100. Filter the data using the boolean series.

**b4.**  Retrieve the rows not returned above (hint: invert the boolean series with `~`).

**b5.**  Use the `query()` method to return the value where Indoor.Hobby is "Computer"

**b6.**  Use the `isin()` method to returns rows where Indoor.Hobby is any of "Lego", "Toys", "Puzzles and Games" or "Buckaroo".

**b7.**  Use the `srt.contains()` method to return rows where Indoor.Hobby contains "Video".

**b8.**  Delete the "Percent" column from the DataFrame.

<hr>

**\*c1.** Take a dataset of your own and import it into a pandas DataFrame.  Try sorting it and filtering it and outputting fresh results.

</div>

## Handling missing values
It is common for a dataset to be missing one or more expected datapoints.  In such cases, you will need to decide how to handle missing data.  

In pandas, missing values have a special value and will be represented in Series or DataFrames as `NaN`.  **Please note: `NaN` is not a string value, it is a different data type.**

To illustrate this point, let's import the "penguins" Seaborn sample dataset.

In [ ]:
penguins = sns.load_dataset('penguins')
penguins

You will see the "bill_length_mm" column, among others, has missing data points, which are rendered to the screen as "NaN".  You can check whether a DataFrame contains any `NaN` values with the `isnull()` method.  This will convert the output to a boolean i.e. `NaN` values are rendered as `True`, whereas anything else is rendered as `False`.  You then need to use the method `any()` to list as a boolean any columns containing a `True` value.  Using the method again will assess whether any values in the DataFrame are `NaN`.

In [ ]:
penguins.isnull()

In [ ]:
penguins.isnull().any()

In [ ]:
penguins.isnull().any().any()

What should you do once you have identified `NaN` values?  Well, you could ignore them.  By default most methods will exclude them in calculations - it will be as if they do not exists.  For example:

In [ ]:
penguins['bill_length_mm'].median()

However, you may not wish to do this.  It is quite common for `NaN` values to be treated as zeros. Fortunately, pandas allows you to simply convert `NaN` values to 0 (or any other desired value) with the `fillna()` method:

In [ ]:
penguins.fillna(0)

Alternatively, it may simplify subsequent analysis if any rows containing `NaN` are removed, which can be achieved with the `dropna()` method:

In [ ]:
penguins.dropna()

Of course, you may need to be more discriminating in the way you discard data.  The `dropna()` method by default removes rows that contain **any** `NaN` values.  Perhaps what is actually required is to remove rows that contain **all** `NaN` values.  This can be achieved by adjusting the `how` parameter of the `dropna()` method.  Alternatively, it may be the presence of `NaN` entries in only specific columns that causes problems.  If that is the case, the `subset` parameter should be used.

<div class="alert alert-info">
    
**Method Chaining Styles**

In this chapter we encountered method chaining whereby 3 methods where chained in one line of code :\
`penguins = penguins.isnull().any().any()`

This is a useful feature of Python and pandas and enables us to write more succinct code.  Without it, we would have to have written 3 separate commands:

`penguins = penguins.isnull()` \
`penguins = penguins.any()` \
`penguins = penguins.any()` 

Using method chaining is advantageous in that it reduces the need to write cumbersome code, but on the downside, as more methods are chained together, the code becomes more difficult to read.

It is best to get the best of both words by adopting the method chaining styling of <b>method cascading</b>, as shown below:

`penguins = (penguins`          
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`.isnull()`\
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`.any()`\
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`.any()`\
`)`
</div>

## Replacing values

### `replace()` method
Specific values can be renamed in Series or DataFrame using the `replace()` method.  In the example below, "Male" has been abbreviated to "M".

In [ ]:
penguins['sex'].replace('Male', 'M')

It is also possible to rename more than one value simultaneously by passing a Python dictionary to the `rename()` method.  The dictionary should store the old value / new value as key-value pairs:

In [ ]:
penguins['sex'].replace({'Male' : 'M', 'Female' : 'F'})

Values not specified will remain unaltered.

### `str.replace()` method
This is similar to the `replace()` method except it requires only a partial match rather than an exact match for the whole contents of the cell.

In [ ]:
penguins['sex'].str.replace('ale', 'ALE')

If "ale" is found anywhere in the column it is converted to "ALE".

## Casting values
Earlier in the course, when we introduced Python, we mention that there are different data types.  This also applies to pandas, in which Series and DataFrames can store different types of values - such as integers, floats, strings and booleans.  This is not just of academic interest, for how data is stored directly impacts the operations that can be performed on it.  

Look at the DataFrame below that stores the lengths of various bacterial species.  It is intended that the data has been stored in scientific notation.

In [ ]:
bacteria = pd.DataFrame({'Species': ['E. coli', 'Staphylococcus aureus', 'Bacillus anthracis'], 'Length': ['2E-3', '2E-3', '5E-3']})
bacteria

However, trying to obtain the mean value of these lengths raises an error:

In [ ]:
# Generates error: applied raises-exception cell tag
bacteria['Length'].mean()

Why is this happening?  Well, if we investigate the data types stored in the DataFrame we see that the Length column is storing "object" data, whereas we would have expected to report "float", which is how numbers generated using scientific notation are stored.

(If you look at the DataFrame construction code you will see that the lengths have been input as strings rather than floats.  You could change this code, but we are demonstrating how to handle data presented in the wrong format - which is not unreasonable since results from external sources often needs "cleaning up" before analysis can begin.)

In [ ]:
bacteria.dtypes

What we need to do is convert the data from the current type to the `float` datatype.  As mentioned before, this process of converting one datatype to another is known as **casting**.  It is achieved in pandas using the `astype()` method, which takes as an argument the target data type.  So, to convert elements in the "Length" column to floats run the command:

In [ ]:
bacteria['Length'] = bacteria['Length'].astype(float)
bacteria

Notice now that data in the "Length" column are now rendered as numbers e.g. "2E-3" is displayed as "0.002".  And as might be expected, the `dtypes` property now reports that the "Length" column holds floats:

In [ ]:
bacteria.dtypes

The `mean()` method can now be run on the "Length" column without any problem:

In [ ]:
bacteria['Length'].mean()

When importing from a file, pandas will make its best guess on what data type to use for each column. This will often work out fine, but sometimes an inappropriate data type will be chosen.  In such situations you could write code to cast the offending column to another data type.  Alternatively, it is possible to specify the most appropriate datatype on import.

In the example below, the code when executed will import data from a comma-separated text file.  The `dtype` parameter ensures that data in the 'Chromosome' column is stored in memory as a string type.  (This example was chosen advisedly since mis-assigning chromosomes to integers is common when importing data from a file, since most chromosomes have numerical values.)  

`imported_data = pd.read_csv(filename, dtype={'Chromosome' : str})`

## Manipulations using indexes

### Sort by index name
It is possible to sort a DataFrame by using the `sort_index()` method.  It takes as arguments the axis (default=0) to sort by, and whether to sort ascending (default) or descending using a boolean value.

In [ ]:
tests.sort_index(axis=0, ascending=False)   # Sort by rows index values

In [ ]:
tests.sort_index(axis=1, ascending=False)     # Sort by columns index values

Sometimes we may want to do more complex sorting.  However, we may not always want to type out explicitly the column names in our code as this can take a relatively long time, particularly for large datasets. Moreover, we simply may not know in advance the names of the columns and so we need to reference them in some other way. This is where the `columns` property of a DataFrame comes to our aid for it allows us to manipulate the order of the column names without the need for specifying them by name in the code.

The example below uses index values to select columns. The column names from the DataFrame are extracted as an index object which is then parsed to a Python list. We then build a new Python list by using a custom order.

In [ ]:
columns_order = tests.columns.to_list()
columns_order = [columns_order[1], columns_order[2], columns_order[0]]
tests.loc[:, columns_order]

It is not so clear why this is useful for this small DataFrame, but suppose you were working with a DataFrame of 100 columns.  With this notation you could select the last 75 columns to be followed by the first 25 columns in one line of code.

You may have noticed at this point that you are not obliged to select all the columns from the DataFrame and indeed this is a convenient way to remove columns.  This is illustrated in the example below. 

(The `drop()` method provides another way to remove unwanted rows and columns).

In [ ]:
columns_order = tests.columns.to_list()
columns_order = [columns_order[2], columns_order[0]]
tests.loc[:, columns_order]

### Re-indexing
Do you remember earlier in the course when we sorted by the contents of a column DataFrame and this in turn re-arranged the index?

In [ ]:
tests = tests.sort_values(by='Subject')
tests

This is expected behaviour but it might not be desirable and for future analysis we may want to have a row index that increments by one as we move down the DataFrame.  To refresh the row index so that it increments by one use the `reset_index()` method:

In [ ]:
tests.reset_index()

Wait, what just happened?  This method has introduced a new column named "index".  Well, the `reset_index()` method not only generates a new index, but it also inserts into the DataFrame a new column containing the values of the previous index.  If this inserted column is not needed then set the parameter `drop=True`.

In [ ]:
tests = tests.reset_index(drop=True)
tests

## Applying functions
A powerful feature of pandas is the capability to apply a function to a Series or DataFrame using the aptly named `apply()` method.

To see how this works let's suppose we want to know the length of the items in the first column in a DataFrame.  The `apply()` method takes as an argument the name of the function to run.

### Applying built-in Python functions
In the following cell you will see we have applied the Python function `len()` to determine the length of the strings in the first column of a DataFrame.

In [ ]:
dna_sequences = pd.DataFrame([['A', 'GA', 'CAG'], ['TTTT', 'CGGCC', 'TATGCA']])
print(dna_sequences)
print()

dna_sequences.iloc[:, 0].apply(len)

Perhaps surprisingly, if you use this method on the whole DataFrame the length of each element will not be returned, but rather the length of each DataFrame row will be returned.

In [ ]:
dna_sequences.apply(len)

To ascertain the length of each element within the DataFrame a related method, named `applymap()`, should be used:

In [ ]:
dna_sequences.applymap(len)

### Applying user-defined functions
It is possible to define your own functions in Python.  We shall discuss this point briefly as it highlights the power of using Python and pandas to analyse data.

Python functions have this basic structure:

    def function_name(any_arguments):
        function body
        return value

In the example below the function returns the percentage GC content of a DNA sequence.  The `def` command is used to define the new function, which is named "gc_content" and takes an argument (the DNA sequence string) which will be named "seq" internally within the function.  

The in-built Python method `count()` is then used to determine the number of "G" and "C" characters within the DNA sequence string.  The length of the string is also determined with the in-built Python function `len()`.  These three values are then used to calculate the percentage GC content of the DNA sequence.  This value is passed back from the function using the `return` command.  Note that function code is indented by four spaces to separate it from the rest of the Jupyter cell's contents.

In the main body of the code, the user-defined function `gc_content` is applied to every element of the DataFrame using the `applymap()` method.

In [ ]:
# Create a function to determine GC content
def gc_content(seq):
    g_count = seq.count('G')
    c_count = seq.count('C')
    perc_gc = 100 * (g_count + c_count) / len(seq)
    return perc_gc
    
# Apply the function
dna_sequences.applymap(gc_content)

<div class="alert alert-info">
<b>Indentation</b>
<br>
<br>
Indentation is a key concept in Python, for indenting code in this way tells the Python interpreter how the code is structured into different "code blocs".  When indenting code, use 4 spaces for each indentation.
<br>  
<br>
While we barely touch on this idea in the course, it is worth knowing as you expand your Python knowledge.
</div>

## Understanding views and copies
Before we start looking at summarising and combining DataFrames we should introduce the important pandas concept of **views** and **copies**.  To begin with, look at the following Python code (no pandas yet) and see if it makes sense.

In [ ]:
# Create two Python lists:
my_list = ['A', 'B', 'C']
my_list2 = my_list

print(my_list)
print(my_list2)
print()

# Modify the first list
my_list[0] = 'D'

print(my_list)
print(my_list2)
print()

# Modify the second list
my_list2[1] = 'E'

print(my_list)
print(my_list2)

This behaviour may have taken you by surprise.  We have created a list (`my_list`), and then seemingly made a copy of this list (`my_list2`).  However, when we modify the original list we also modify the second list, and vice versa.  It is as though the two lists are magically linked.

The reason for this is that the new list is referencing (or pointing to) the original object.  This can be demonstrated by using the Python `id()` function which returns a unique identification value of the object stored in the memory.  You will see that the two lists correspond to the same object.

In [ ]:
# Print the ids of the two lists
print(id(my_list))
print(id(my_list2))

So, how would we create an entirely independent copy?  Well to do this use the list `copy()` method.  You will now see in the code below that changes made to one of the lists does not now affect the other.  Also, the two list objects have different object ids.

In [ ]:
# Create two Python lists:
my_list = ['A', 'B', 'C']
my_list2 = my_list.copy()    # Use the copy() method

print(my_list)
print(my_list2)
print()

# Modify the first list
my_list[0] = 'D'

print(my_list)
print(my_list2)
print()

# Modify the second list
my_list2[1] = 'E'

print(my_list)
print(my_list2)
print()

# Print the ids of the two lists
print(id(my_list))
print(id(my_list2))

Pandas objects exhibit a similiar behaviour, as illustrated by the code below:

In [ ]:
# Create two Pandas DataFrames:
df = pd.DataFrame([['A', 'B', 'C'], ['D', 'E', 'F']])
df2 = df    # Makes a 'view' on the original dataframe

print(df)
print()
print(df2)
print()

# Modify the first list
df.iloc[0, 0] = 'X'

print(df)
print()
print(df2)
print()
print()

# Modify the second list
df2.iloc[1, 2] = 'Y'

print(df)
print()
print(df2)
print()
print()

# Print the ids of the two lists
print(id(df))
print(id(df2))

Like with lists in regular Python, we use the `copy()` method of a pandas DataFrame (or indeed a Series) to create independent replicate objects.

In [ ]:
# Create two Pandas DataFrames:
df = pd.DataFrame([['A', 'B', 'C'], ['D', 'E', 'F']])
df2 = df.copy()    # Makes a 'copy' on the original dataframe

print(df)
print()
print(df2)
print()

# Modify the first list
df.iloc[0, 0] = 'X'

print(df)
print()
print(df2)
print()
print()

# Modify the second list
df2.iloc[1, 2] = 'Y'

print(df)
print()
print(df2)
print()
print()

# Print the ids of the two lists
print(id(df))
print(id(df2))

Why does this matter?  Well suppose you aren't aware of this behaviour and then you go ahead and make a view on a Pandas DataFrame structure.  You then modify this view without realising you have modified the original DataFrame.  You then perform some calculations on the original DataFrame and this analysis may now be incorrect because you accidentally modified the data.

In fact the situation is even more hazardous since extracting a Series from a DataFrame also creates a view on that DataFrame!

In [ ]:
series_view = df[0]      # Create series from data frame
print(series_view)
print()

print(id(df))            # The series and DataFrame have different ids
print(id(series_view))
print()

series_view[0] = 'Z'    # But, changing the series view changes the original DataFrame!
print(df)
print()

df.iloc[1, 0] = '!'    # And vice versa
print(series_view)

This feature of pandas can catch out the novice and even those familiar with the language.  Unfortunately the rules that govern whether a view or a copy of a pandas data structure is returned following the use of the assignment operator (=) is complex and depends on the data types contained within the pandas object.  Pandas does try to help you by raising warnings if changes are made to an object with an associated view, but not always!  

** With this in mind, we advise that if you take a subset for any purpose other than immediately analysing, then you should do so by using the `copy()` method. **

(Those a little more experienced with computing may be aware that making such copies places more demands on computational resources than making a view.  Nevertheless this is only usually problematic when dealing with very large datasets and so for most purposes erring on the side a caution and making a copy is less likely to cause you problems.)

<div class="alert alert-danger">
 Just to reiterate this point: <b>we advise that if you take a subset or a copy of Series/DataFrame for any purpose other than immediately analysing, you should do so by using the <code>copy()</code> method.</b>
 </div>

<div class="alert alert-success">

## Exercise 9
**a1.**  Import the "Biomass_of_Herbivorous_Fish.tsv" dataset once again. You should be able to see missing values.  Confirm this with the `isnull()` method.

**a2.**  Decide how you want to deal with the rows containing `NaN`.  Either convert the `NaN` values to 0 with the `fillna()` method or remove the offending rows with the `dropna()` method.

**a3.**  Let's abbreviate the "Morpho.Functional.Group".  Remove "ivore" from all entries using the `str.replace()` method.  (Hint: removing text is the same as replacing it with '').

**a4.**  On further thoughts, let's just use the first letter of each "Morpho.Functional.Group".  Use the `replace()` method to do this.

<hr>

**b1.**  Let's import the children's indoor hobbies again and then sort the DataFrame by "Number" (most-to-least).  Notice the index numbers no longer increment by 1. Let's fix this with the `reset_index()` method (remember to drop the original index values).

**b2.**  Convert all the hobby counts to binary values using the `applymap()` method and the Python `bin()` function.

**b3.**  Make the hobby name the index of the DataFrame by setting the index attribute of the DataFrame.  (Prior to doing this, convert space (' '), ampersand('&') and forward slash  '/' to the underscore (_) character.)

<hr>

**\*c1.** Write a function that performs the text editing steps described in b3.  Use this function on the "Hobby" column.

**\*c2.**  Import some of your own data into a DataFrame.  Create a novel function to analyse the data.     

</div>

## Summarising Data
### describe()

Pandas DataFrame objects have a useful method named `describe()` to summarise datasets.  The method returns a DataFrame listing useful information such as a count of the number of variables as well as mean, standard deviation, maximum, minimum and quartile values.

In [ ]:
tests.describe()

### Summarising rows and columns
Pandas puts at your disposal a large variety of methods for analysing datasets.  Imagine that you need to know the **median** values for categories in a dataset, how would you go about obtaining this?  Well, firstly you need to extract the columns of interest i.e. all the numerical values that are to be included in the calculation of the median (which in this example is the columns named 'Results' and 'Results2').  Then the `median()` method is applied to the extracted data.

In [ ]:
tests.iloc[:, 2:].median()

That has indeed returned the median values for each column.  But suppose we need the median values for each row.  How do we do this?  Well, we use the same method, we just apply it in a different way.

By consulting the Pandas documentation (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.median.html) you will observe that the `median()` method may be passed the named parameter: `axis`.  This determines whether the median method is applied in a **row-wise** or a **column-wise** fashion.  Column-wise is the default, so let's explicitly tell Pandas to calculate median values in a row-wise manner.

In [ ]:
tests.iloc[:, 2:].median(axis=1)

In [ ]:
tests['Median'] = tests.iloc[:, 2:].median(axis=1)
tests

Typically we would want to add this new summany value to our DataFrame:

<div class="alert alert-info">
<b>DataFrame Axis</b>
<br>
<br>    
Instructing a method which axis to use is required time and time again in pandas:

0 - horizontal axis i.e. rows 
<br>
1 - vertical axis i.e. columns
</div>

<div class="alert alert-info">
The official pandas documentation is found online at:

https://pandas.pydata.org/docs/

Here you can find accurate and complete information on pandas.  While it is always a worthwhile resource to consult, this canonical documentation can be a little jargon-heavy for the novice and so consulting other online sites (e.g. computing help forums) may give a easier-to-interpret advice.  Most pandas questions can usually be answered by using the official documentation in conjunction with more informal web pages.
</div>

### Tallying results with the `value_counts()` method

Tallying the number of identical entries in a dataset is often needed, so let's see how to do this using the Penguins test data set we imported previously.

In [ ]:
penguins.head(3)

Suppose we wanted to know how many penguins there are of each species.  Well, we can find this out using the `value_counts()` method:

In [ ]:
penguins['species'].value_counts()

In fact this method is more versatile, as it can be used to return combinations of values.  For example, suppose we wanted a tally of penguins on each island, broken down by species:

In [ ]:
penguins.loc[:, ['island', 'species']].value_counts()

### Grouping data
Pandas has a useful feature for summarising data known as the `GroupBy` object.  To see how it works let's look once again at the Iris dataset we used earlier.

The dataset is a favourite of people working in the area of machine learning and it contains length and width measurements for petals and sepals for 3 different species of flower, namely: serosa, versicolor and virginica.  Typically this dataset is used to build flower classification models.  We won't be doing that here, but we will be using the `GroupBy` object to summarise the data.

The species column is what is of interest to us i.e. we want to summarise the data for each of the three different species of Iris (setosa, versicolor and virginica).  So, firstly we need to create the relevant  object using the `groupby()` method.

In [ ]:
species_grouped = iris.groupby(by='species')
species_grouped

Once we have created a `GroupBy` object, it is possible to retrieve all the data for a given group using the `get_group()` method:

In [ ]:
species_grouped.get_group('setosa')

The `GroupBy` object provides us with powerful tools to summarise data.  Suppose one wanted to know the mean of each species, running the `mean()` method on this object would return this information:

In [ ]:
species_grouped.mean()

It is also possible to apply more that one calculation to the `GroupBy` object using the `agg()` method.

In [ ]:
species_grouped.agg([max, min])

(Note: the `agg()` method will accept a function as an argument (as above) or a string function name (as below):

In [ ]:
species_grouped.agg(['max', 'min'])

## Combining DataFrames / Series

### Appending with `concat()`
The `concat()` method provides a simple way to append one DataFrame (or Series) to another.  The concatenation may be performed in a row-wise (`axis=0`) or column-wise (`axis=1`) fashion.

In [ ]:
df1 = pd.DataFrame({'Person': ['Herbert', 'Frederick', 'Percival'], 'Age': [10, 9, 10]})
df2 = pd.DataFrame({'Person': ['Sydney', 'Percival', 'Cuthbert'], 'Age': [8, 10, 9]})

pd.concat([df1, df2], axis=0)

You can see in the example above that the DataFrames that need combining have been passed to the `concat()` method all together inside a Python list.  Multiple DataFrames and/or Series can be passed in this way, and will be joined together in the order specified in the list.  Notice that the original row index values have been retained.  Also, "Percival", which is present in both input DataFrames is present twice.  We simply have combined one dataset to another.

In the example below we repeat this concatenation, but have and additional 'Height' column.  The result is probably what you would expect.

In [ ]:
df1 = pd.DataFrame({'Person': ['Herbert', 'Frederick', 'Percival'], 'Age': [10, 9, 10], 'Height' : [120, 110, 140]})
df2 = pd.DataFrame({'Person': ['Sydney', 'Percival', 'Cuthbert'], 'Age': [8, 10, 9], 'Height' : [105, 140, 130]})

pd.concat([df1, df2], axis=0)

Now suppose a column is found in one DataFrame, but not the another; what will happen when we concatenate the pair?  Well you can see below that the resulting "missing" values are assigned the value `NaN` by pandas:

In [ ]:
df1 = pd.DataFrame({'Person': ['Herbert', 'Frederick', 'Percival'], 'Age': [10, 9, 10]})         # Age only
df2 = pd.DataFrame({'Person': ['Sydney', 'Percival', 'Cuthbert'], 'Height' : [105, 140, 130]})   # Height only

pd.concat([df1, df2], axis=0)

Let's see how the behaviour is changed if we join by columns (axis=1).  You will observe that a four-column DataFrame is created, with the Person and Age columns repeated.

In [ ]:
df1 = pd.DataFrame({'Person': ['Herbert', 'Frederick', 'Percival'], 'Age': [10, 9, 10]})
df2 = pd.DataFrame({'Person': ['Sydney', 'Percival', 'Cuthbert'], 'Age': [8, 10, 9]})

pd.concat([df1, df2], axis=1)

The rows from the different DataFrames are concatenated by using the row index.  Whenever row index values don't match, NaN values will be created.  Look what happens below in the concatenation below when `df2` is allocated different index values from `df1`.

In [ ]:
df1 = pd.DataFrame({'Person': ['Herbert', 'Frederick', 'Percival'], 'Age': [10, 9, 10]})
df2 = pd.DataFrame({'Person': ['Sydney', 'Percival', 'Cuthbert'], 'Age': [8, 10, 9]}, index=['A', 'B', 'C'])

pd.concat([df1, df2], axis=1)

Or just one diffing row index name:

In [ ]:
df1 = pd.DataFrame({'Person': ['Herbert', 'Frederick', 'Percival'], 'Age': [10, 9, 10]})
df2 = pd.DataFrame({'Person': ['Sydney', 'Percival', 'Cuthbert'], 'Age': [8, 10, 9]}, index=[0, 1, 3])

pd.concat([df1, df2], axis=1)

In the example below, notice that the row index ids are used to combine the DataFrames rather then the row's position in the DataFrame.  (When creating `df2` the default row index has been adjusted by passing a Python list to the `index` parameter.)

In [ ]:
df1 = pd.DataFrame({'Person': ['Herbert', 'Frederick', 'Percival'], 'Age': [10, 9, 10]})
df2 = pd.DataFrame({'Person': ['Sydney', 'Percival', 'Cuthbert'], 'Age': [8, 10, 9]}, index=[2, 1, 0])

pd.concat([df1, df2], axis=1)

### Joining on a field using `merge()`
It is common to combine data from various sources, whether that be distinct data sets, combining metadata with the main observations, or some other form a necessary data manipulation.  Pandas makes this relatively straightforwards using its `merge()` function.

This function takes 4 arguments:
i) the name of a DataFrame to merge (left dataset)
ii) the name of the other DataFrame to merge (right dataset)
iii) how to merge the datasets
iv) the name of the column on which to merge the datasets

<figure>
<img src='course_images/merge_schematic.svg' title='Merge Schematic'/>
<figcaption><i>The diagram illustrates how DataFrames may be merged.  The "left merge" selects items in the left DataFrame, irrespective of whether they are found in the right DataFrame.  This logic is reversed for a "right merge".  An "inner merge" select items present in both DataFrames, whereas an "outer merge" selects all items i.e. they may be found in either one or both DataFrames.</i></figcaption>
</figure>

In [ ]:
df1 = pd.DataFrame({'Person': ['Herbert', 'Frederick', 'James'], 'Age': [31, 19, 23]})
df2 = pd.DataFrame({'Person': ['Frederick', 'James', 'Danniel'], 'Height': [185, 169, 172]})

print(df1)
print()
print(df2)

An "inner merge" ensures that the same Person must be present in both DataFrames.

In [ ]:
pd.merge(df1, df2, how='inner', on='Person')

A "left merge" returns values for all Persons in the left-hand side (i.e. df1) DataFrame.  If that person is not present in the right-hand side DataFrame a value of `NaN` is returned.

In [ ]:
pd.merge(df1, df2, how='left', on='Person')

A "right merge" returns values for all Persons in the left-hand side (i.e. df2) DataFrame.  If that person is not present in the right-hand side DataFrame a value of `NaN` is returned.

In [ ]:
pd.merge(df1, df2, how='right', on='Person')

An "outer merge" returns values for all Persons listed in either DataFrame.  If a person is not present in one of the DataFrames a value of `NaN` is returned in the appropriate column.

In [ ]:
pd.merge(df1, df2, how='outer', on='Person')

<div class="alert alert-success">

## Exercise 10

**a1.**  Import the datasets "Brain_Bodyweight_data.tsv" and "Brain_Bodyweight_Metadata.tsv" into separate DataFrames. Try the `describe()` method on both DataFrames.  What do you see?

**a2.**  Use the `merge()` method to combine the data with the metadata.

**a3.**  Use the `value_counts()` method to give a tally of the different unique entries in the "Category" column.

<hr>

**b1.**  Import the Indoor and Outdoor Lockdown hobbies data into separate DataFrames.  Use `concat()` to combine the DataFrames.

<hr>

**c1.**  Import the Seaborn test dataset "exercise".  Use the `groupby()` method to group the samples by the "kind" column.

**c2.**  Report the mean "pulse" value for each "kind" category.

<hr>

**\*d1.**  Take a dataset of your own and create a new metadata file describing your data.   Combine your data with the metadata.  Use this combined dataset to produce summary results that incorporate the metadata. 

</div>

## Reshaping Data
One of the main challenges you will encounter is getting your data in the correct format.  We have already discussed methods for handling missing variables, but there are other points to consider.

Since this course is aimed at scientists, you should already be familiar with the importance of meticulous and consistent data collection.  However, you may not be familiar with how best to store your data. 


### Atomised data
You should separate data as much as possible when adding to a table, database or of course a pandas DataFrame.  For example, if you have been given the results from a time series which records date and time information, you should record the day and date in separate columns, which enables easier subsequent manipulation.

In [ ]:
time_course = pd.DataFrame({'Day/Time': ['1 12:00', '1 18:00', '2 00:00', '2 06:00'], 'Score': [10, 15, 21, 29]})
time_course

What we need to do here is split the day and the time values.  Fortunately there is consistency in how the data have been entered i.e. the "Day" and "Time" values are separated from one another by a single space.  We can use the `str.split()` method to split the Day/Time pairings into separate columns.

In [ ]:
time_course[['Day', 'Time']] = time_course['Day/Time'].str.split(pat=' ', expand=True)    #Different syntax
time_course = time_course.loc[:, ['Day', 'Time', 'Score']]
time_course

This method takes a delimiter (character(s) used to split the data) argument, as well as a boolean value for the `expand` parameter.  Setting expand to `True` causes the value after the delimiter to be placed in a separate column.

Now that you have a new DataFrame with the atomised values, you can combine this with your original DataFrame.

### Joining columns

While atomised data is desirable in most instances, there may be occasions when you need to join columns.  Let's reverse the operation we just performed on the `time_course` DataFrame to illustrate this point.

The Python operator `+` when applied to strings will join values together:

In [ ]:
time_course['Day/Time'] = time_course['Day'] + ' ' + time_course['Time']
time_course = time_course.loc[:, ['Day/Time', 'Score']]
time_course

### Transposing data

A common operation in data analysis is to convert rows-to-columns and columns-to-rows.  Consequently the column names become index names and vice versa.  **One point to note is that re-arranging the data this way can impact the datatype of columns since we are changing their data composition.**

In [ ]:
time_course.transpose()

### Convert Wide to Long format
Much of the data you encounter will be in **wide format**, such as the example in the next cell, which shows gene expression values in different conditions.

In [ ]:
gene_expression = pd.DataFrame(
        [['Brain', 1.3, 2.4],
         ['Liver', 1.4, 2.6],
         ['Heart', 1.6, 2.9]],
    columns=['Tissue', 'GeneA', 'GeneB'])

gene_expression

This is a simple and intuitive way to represent this data and for visualisation purposes it is fine.  But, it doesn't scale well.  For example, suppose in a subsequent experiment we measure an additional gene - GeneC.  To accommodate this extra gene, we need to add an extra column to our DataFrame.  So, the width of our DataFrame cannot be fixed without knowing in advance all the genes being measured.  So, we may end up in a situation where every experiment has a different number of columns.  This is not a standardised way of working and standardisation is key when trying to analyse code programmatically.

Furthermore, if we were to measure say 20,000 genes, we will end up with a DataFrame which is over 20,000 columns wide. Such layouts can no longer be easily represented on a screen.

This is where **tidy** or **long format** comes to the rescue.  By using the `melt()` function we can convert wide to long format.

In [ ]:
gene_expression = pd.melt(gene_expression, id_vars='Tissue', var_name='Gene', value_name='Expression')
gene_expression

The `id_vars` parameter sets the column(s) to use as identifier variables.  The newly created column names for variable names and value columns are set by the parameters `var_name` and `value_name` respectively.

<div class="alert alert-info">

<b>Tidy data</b>

Tidy data is a standardised way of structuring data in accordance with its underlying meaning. 

For Tidy data:
    
1. Each variable forms a column.
2. Each observation forms a row.
3. Each type of observational unit forms a table.

Data that is not in tidy format is termed "messy".
</div>

### Convert long to wide format
Although long/tidy format is preferred for most analyses, sometimes wide format is advantageous as it assists with the perusal of small datasets. It also benefits from not repeating values and consequently reduces memory overheads.

Use the `pivot` method to convert long/tidy format to wide format.  Consider the following example in which the `gene_expression` dataset is converted back to its original wide format:

In [ ]:
gene_expression = gene_expression.pivot(index='Tissue', columns='Gene', values='Expression')
gene_expression

You will notice that the "Tissue: information is now given in the index.  As we discussed previously, this can be extracted to the first column using the `reset_index()` method.

<div class="alert alert-success">

## Exercise 11
    
**a1.**  Import the dataset "Cuttlefish_Buoyancy.tsv".  Edit the dataset to only include the columns:\
ID\
treatment\
hatching_date\
days_until_sampling\
floating\
density

**a2.**  Split days/month/year for the hatching_date into separate columns.  Remove the original column.

**a3.**  Edit the ID column so it comprises the current ID in addition to the treatment applied.  Drop the original treatment column.

**a4.**  Observe how the cuttlefish DataFrame is structured after using `transpose()` method.  Transpose the data back again.

**a5.**  Convert the cuttlefish DataFrame to long/tidy format.  Write the data to Excel an file.

**a6.**  Convert the data back to wide format (notice the column/row labels have now changed).

</div>

# Additional functionality using other Python libraries
Before too long you will encounter other data analysis libraries such as NumPy and SciPy.  In this section we shall go on a whistle-stop tour of these libraries, highlighting their popular features which can be used in conjunction with pandas.  (If you would like a more detailed overview, there is a separate LMB course covering NumPy in some depth.)

## Numpy
NumPy (https://numpy.org) is an acronym of the term "Numerical Python".  Similar to pandas, it allows users to store information in complex NumPy data structures.  NumPy is ideal for more complex analyses, such as those applied in machine learning. 

Although we shan't be looking at NumPy in substantial detail, it is worth knowing how to import NumPy data into pandas (in fact, under the hood pandas is built on NumPy).  NumPy also has several methods that can be applied to pandas.

### Importing Numpy data
The code below imports the NumPy library and then creates a NumPy array, which is then subsequently converted to a pandas DataFrame.  (If the NumPy array were 1-dimensional then it could have been converted to a Pandas Series.)

In [ ]:
import numpy as np

my_array = np.array([[1, -220, 0],[43, 5, -99]])

print(type(my_array))
print(my_array)
print()

my_array = pd.DataFrame(my_array)
print(type(my_array))
print(my_array)

### Adding NaN values
NumPy enables coders to explicitly incorporate `NaN` values into a Series or DataFrame.

In [ ]:
df = pd.Series([1, 2, np.NaN])
print(df)
print()
print(df.isnull())

### Mathematical transformations
NumPy makes available a wide range of mathematical transformations.  Please see the list at https://numpy.org/doc/stable/reference/routines.math.html for more details.  The example below shows a log<sub>10</sub> transformation.

In [ ]:
np.log10(pd.DataFrame([1, 10, 100]))

###  Distribution
NumPy can be used to create mathematical distributions.  In the example below, we use NumPy to randomly sample 10 values from a Normal distribution which has a mean value of 0 and a standard deviation of 1.0.

In [ ]:
np.random.normal(loc=0.0, scale=1.0, size=10)

### Conditional operations with the NumPy `where()` method

The NumPy `where()` method can be used to return elements from a pandas data structure that meet a specified condition.  The method returns the index positions of values that pass the condition.  The method can also take additional arguments that are to be returned if condition evaluated to `True` or `False`.  The code below illustrates these points:

In [ ]:
metals = np.array(['Gold', 'Copper', 'Iron', 'Gold'])

print(np.where(metals == 'Gold'))   # Get index position
print(np.where(metals == 'Gold', 'Collect', 'Ignore'))   # Alternative responses

## SciPy
SciPy (https://scipy.org ) comprises a wide range of packages addressing common tasks in scientific computing, including  statistical analyses, handling sparse matrices and linear algebra.  Together, NumPy and SciPy comprise an extensive range of computational and mathematical techniques.

## scikit-learn
The project scikit-learn (https://scikit-learn.org) makes available a wide range of machine-learning techniques such as regression, PCA and random forest.

## Keras
Keras (https://keras.io) is a deep learning framework.  For more information, attend one of the LMB's Machine Learning Courses.


## PyTorch
PyTorch (https://pytorch.org) is a potential alternative to Keras and has grown rapidly in popularity in recent years.

## BioPython
BioPython (http://biopython.or) contains a suite of tools for manipulating a large range of bioinformatics file formats (e.g. FASTA) and querying online databases and manipulating sequences.

<div class="alert alert-success">

## Exercise 12
    
**a1.**  Import the Brain Bodyweight data file again.  Create 2 new columns that record the log<sub>2</sub> bodyweight and log<sub>2</sub> brain weight.

**a2.**  Let's make a new column named Body.Weight.Classification.  Use `np.where()` to classify anything weighing less than 10kg as "Small" and anything else as "Not_Small".  Save the output in a format of your choosing.

<hr>

**b1.**  Go to the NumPy website: https://numpy.org.  Find out more about the mathematical operations and statistics tools available in this library.

<hr>

**\*c1.**  We are investigating whether 2 drugs give different outcomes when treating a disease.
50 patients receive Drug A of which 41 are cured and 59 are not cured. 
50 patients receive Drug B, of which 62 are cured an 38 are not cured.

Perform a two-sided Fisher's Exact test to decide whether the drugs have different treatment outcomes (significance threshold: p < 0.01)

**\*c2.**  Try using some of these NumPy functions on some of your own datasets.

</div>

# Creating plots
Python has an extensive number of libraries and modules for generating plots.  In fact, pretty much any plot you are likely to need can now be generated using Python.  Perhaps the more important issue is the trade-off between generating plots quickly versus the need to create highly customised publication-quality figures.

In this section we shall look at how to generate plots quickly using **pandas**.  Such graphs are ideal for personal exploration of data or presenting results at informal meetings.  We shall then use the Python library **Seaborn** to generate more complex plots.  These are generally of a quality that would suit most situations and even for published results.  Finally, we shall briefly discuss the Python library **Matplotlib**.  This is more complex than the other alternatives and takes more time to learn and write code.   This Python extension scores in that it should allow you to generate all the plots you will ever need.

## Generating plots with pandas
Many plots may be generated easily by executing the appropriate DataFrame method.

In [ ]:
# Create a test dataset
experiment_data = pd.DataFrame(
        [[0, 2.3, 4.3, 6.9, 10.0, 13.4, 15.1, 17.4, 19.3, 21.2],
         [0, 3.3, 5.6, 10,3, 13.9, 17.4, 19.3, 23.1, 28.0]],
)

experiment_data = experiment_data.transpose()
experiment_data.columns = ['A', 'B']

print(experiment_data.shape)
experiment_data.head(2)

Simply run the `plot()` method on the DataFrame to generate a line-plot.

In [ ]:
experiment_data.plot()

If you are only interested in displaying a subset of your data, then just select the require data before creating the plot.

In [ ]:
experiment_data['A'].plot()

Use the `kind` parameter to specify the type of plot you require.  Got to: https://pandas.pydata.org/docs/user_guide/visualization.html for further information.

In [ ]:
experiment_data.plot(kind='bar')

For scatter plots you need to define explicitly the columns that constitute the x- and y-axis co-ordinates in the DataFrame.

In [ ]:
experiment_data.plot(kind='scatter', x='A', y='B')

And that is how you can quickly generate plots in pandas.  This `plot()` method does have more options available, but in our experience if you are making a plot requiring more than very simple input parameters, then it is best to use Seaborn (or Matplotlib).

## Generating plots with Seaborn

### Creating individual plots
Although a little bit more complex than panda's in-built plotting capabilities, Seaborn enables programmers to generate complex and publication-quality graphics in just a few lines of code.  To explain how Seaborn works we shall go through a couple of examples (these are taken from the Seaborn online documentation).

Firstly, import Seaborn.  (You may have noticed that we actually imported Seaborn previously in the course to gain access to test datasets - but nevertheless it doesn't hurt to recap this code now.)   Having done that, we shall import the Seaborn test dataset "tips".

In [ ]:
import seaborn as sns

tips = sns.load_dataset("tips")
tips.head()

(To prevent this Notebook becoming too long we shall use Matplotlib functionality to generate plots smaller than the default size.)

In [ ]:
# Set default image size
from matplotlib import pyplot as plt

plt.rcParams["figure.figsize"] = (3.5, 3.5)

<div class="alert alert-info">
<b>Seaborn is built on top of Matplotlib</b>
<br>
You can think of Seaborn as a kind of "software manager" that instructs Matplotlib how to generate plots. By doing this, users of Seaborn only need to handle a reduced number of options, making the task of generating plots easier.  This also means that Matplotlib can be used to fine tune a Seaborn plot.
</div>

The tips dataset presents how the size of a restaurant tip varies with, among other factors, the price of the bill.  A scatter plot is a simple way to represent such correlations and the code below shows how to do this using Seaborn:

In [ ]:
sns.scatterplot(
    data=tips,
    x="total_bill", y="tip"
)

The Seaborn `scatterplot` function generates the plot.  The parameter `data` specifies the source of the data i.e. the `tips` DataFrame.  The parameters `x` and `y` specify the corresponding x-axis and y-axis co-ordinates.

We can add easily more information to the plot.  For example, suppose we wish to highlight categorical data on the plot.  Well this can be done using the `hue` parameter, which will colour points based on categorical information.  In the example below the Smoking/Non-smoking category is passed to the `hue` parameter.

In [ ]:
sns.scatterplot(
    data=tips,
    x="total_bill", y="tip", hue="smoker"
)

In a similar fashion we can set the shape of the plotted points to reflect a category type (i.e. whether an individual is a smoker).

In [ ]:
sns.scatterplot(
    data=tips,
    x="total_bill", y="tip", hue="smoker", style="smoker"
)

In the figure below we have set the size of the points to reflect the "Size" category in the input dataset.  This had the undesired effect of the legend covering many of the points on the plot and so we increased the size of the image, overriding the current settings.

In [ ]:
plt.figure(figsize=(5,5))

sns.scatterplot(
    data=tips,
    x="total_bill", y="tip", hue="smoker", style="smoker", size="size"
)

plt.show()

### Multiple plots
It is possible to combine multiple graphs in the same figure.  To do this use the Matplotlib `subplots()` method, to which you should pass the dimensions of the figure (i.e. the row/column layout of the subplots in the main figure). 

So long as more than one subplot is required, this method will return a figure object and an array of axes objects.  The axes array will have the shape specified by the user when running the `subplots()` method.  

Look at the example below which generates a main plot with a 2 x 2 subplot layout, comprising different graph types.

In [ ]:
plt.rcParams["figure.figsize"] = [14, 14]

fig, ax = plt.subplots(nrows=2, ncols=2)    # 2 x 2 plot

sns.scatterplot(
    data=tips,
    x="total_bill", y="tip", 
    hue="smoker", 
    style="smoker", 
    size="size", 
    ax=ax[0, 0]    # Top left
)

sns.histplot(
    data=tips,
    x="day", 
    ax=ax[1, 0]    # Top right
)

sns.histplot(
    data=tips,
    y="time", 
    ax=ax[0, 1]    # Bottom left
)

sns.boxplot(data=tips, 
            x="day", 
            y="total_bill",
            hue="smoker", 
            ax=ax[1, 1]    # Top right
)

### Facet grid
You may want to investigate relationships between multiple variables by several related plots - which is where the `FacetGrid` class should be used.

In the example below we investigate the relationship between tip size and total bill, but split different times of the day into separate plots:

In [ ]:
g = sns.FacetGrid(tips, col="time")
g.map_dataframe(sns.scatterplot, x="total_bill", y="tip", hue="smoker", style="smoker", size="size")
g.add_legend()

To use this class, initialise a `FacetGrid` object by passing the DataFrame of interest along with the category which should be used to segment the data to the constructor method `sns.FacetGrid()`.  In this example we have named the created object `g`.

Run the `map_dataframe()` method and provide it with i) a plotting function and ii) the name(s) of variable(s) in the DataFrame to plot.

Finally, we added a legend to `g` using the `add_legend()` method.

In [ ]:
# Generate smaller plots once again
plt.rcParams["figure.figsize"] = (3.5, 3.5)

### Choosing aesthetics using themes
There are a myriad number of ways in which a Seaborn plot may be adjusted.  A simple way to adjust the appearance of a plot is to use the `set_theme()` function, which can be used - among other things - to adjust the style of the plot and the choice of colour palette.

We have chosen the "colorblind" palette for this demonstration.  It is worth remembering that a substantial proportion of the population has some kind of colour deficiency and it is best to choose colour schemes that are easy to discriminate by as many people as possible.

In [ ]:
sns.set_theme(style="whitegrid", palette="colorblind")

sns.scatterplot(
    data=tips,
    x="total_bill", y="tip", hue="day"
)

In [ ]:
sns.set_theme(style="dark", palette=sns.dark_palette("xkcd:golden", 4))

sns.scatterplot(
    data=tips,
    x="total_bill", y="tip", hue="day"
)

Discover for yourself the themes you find most suitable:
  
https://seaborn.pydata.org/tutorial/aesthetics.html

https://seaborn.pydata.org/tutorial/color_palettes.html

### Writing plots to file
So far we have inserted plots directly into the Notebook, but of course often you will want to output the results to a file.  Again, there are multifarious options for writing images to a file.  

The example below shows how to create an SVG file using the `savefig()` function of `plt`.  (The `bbox_inches='tight', pad_inches=0.5` parameters prevent the edges of the image from crossing the SVG border).  As you might expect, you can also create PNG files and other formats.  

People often wonder which is better: PNG or SVG?  Well, SVGs are vector images that can be scaled up without damaging image quality and so will be perfectly crisp and clear, no matter how large their rendering.  These are generally ideal for publication-quality graphs and charts and can be fine-tuned in Adobe Illustrator or the free open-source tool Inkscape.  In contrast, PNGs experience loss of quality during re-scaling, although to ameliorate this problem they can be saved initially at high resolution.  PNGs are generally more compatible for use with other presentation tools - such as PowerPoint - and they are also better for saving very detailed images.  

Having said all this, it is only an extra line of code to generate both SVG and PNG images, so it may be prudent to do that for important graphical output.

As alluded to above, a code cell may generate more than one graph.  Indeed the number of graphs that may be generated is virtually limitless.  This is worth bearing in mind, for if you learn more about "looping" in Python, you can automate the generation of large numbers of output graphs, saving you much time and coding.

In [ ]:
sns.set_theme(style="ticks", palette="Set2")

sns.scatterplot(
    data=tips,
    x="total_bill", y="tip", hue="day"
)

plt.savefig(fname='bills_scatterplot.svg', format='svg', bbox_inches='tight', pad_inches=0.5)

That brings to an end this quick overview of Seaborn.  There are of course many types of plots that can be created (barplots, histograms and heatmaps etc.) and many themes and colour schemes that can be applied to those graphs.  Some of these possibilities will be looked at some more in the exercises, but as one might expect the degree of customisation is enormous with Seaborn, and even more so if using Matplotlib.  The documentation is extensive, but we recommend the following webpage as a starting point:

https://seaborn.pydata.org/examples/index.html

The page displays a range of specimen graphs along with code to show how they are generated:

In [ ]:
%%html
<iframe src="https://seaborn.pydata.org/examples/index.html", width=100%, height=500>
</iframe>

It may take some time and effort to find the exact plot options you need, but for most purposes it is possible to generate a graph quickly with both pandas and Seaborn.

## Introducing Matplotlib
We have already mentioned that Matplotlib is a popular choice for plotting graphs in Python and although it is more complex to use than Seaborn, it is more versatile.  Importantly, Seaborn is built on-top of Matplotlib and consequently Matplotlib functions can be applied to Seaborn objects.  

Since it is important to understand a little about Matplotlib, we shall introduce it briefly here.  If you already understand Seaborn, the Matplotlib code should make sense.  In fact, once you get to grips with Seaborn you should be able to let the Matplotlib documentation guide you in producing exactly the plot you desire (so long as the underlying data makes sense of course).

Often the best way to build a Plot is to look at existing examples, and such a gallery can be found at:
https://matplotlib.org/stable/gallery/index.html

In [ ]:
%%html
<iframe src="https://matplotlib.org/stable/gallery/index.html", width=100%, height=500>
</iframe>

Somewhat strangely, Seaborn does not have a method for making Pie Charts, so we shall use Matplotlib to do this.  The example below passes multiple parameters to the `plt.pie()` method to illustrate the degree to which these plots can be tailored to your requirements.

The code has 3 main components:

1. Use the default naming convention to import Matplotlib as plt
2. Write the pie chart and the title to the "canvas" using `plt.pie()` and `plt.title()`
3. Now display the results with `plt.show()` (this simultaneously clears the canvas).

In [ ]:
# Create data
counts = pd.Series([1, 2, 3, 4])
labels = pd.Series(['A', 'B', 'C', 'D'])
explode = [0, 0, 0, 1]

# Create plot
from matplotlib import pyplot as plt

plt.pie(counts, 
        labels=labels, 
        autopct='%1.1f%%',
        colors=['olivedrab', 'rosybrown', 'gray', 'saddlebrown'],
        pctdistance=1.25, 
        labeldistance=0.6,
        shadow=True, 
        startangle=90,
        explode=explode
)

plt.title(label='Matplotlib Pie Chart', loc='left', pad=20)
plt.show()

## Making interactive charts with Plotly
Sometimes a chart can be easier to interpret by making it interactive.  This additional functionality is made possible with the Python library Plotly (https://plotly.com).

We shan't describe how to create these interactive plots in this course as hopefully you will now feel confident enough to build your own Plotly charts by reading the relevant documentation and by studying previous examples.  Indeed, with this in mind the developers of Plotly produced a gallery of online figures to serve as a programming guide:

In [ ]:
%%html
<iframe src="https://plotly.com/python/", width=100%, height=500>
</iframe>

We copied the code for a couple of these figures into the cells below.  You will see that if you move the mouse pointer slowly over each figure additional information pops up.  This is particularly useful for displaying the extensive genomic information in the Volcano plot.  Indeed, it would be impossible to read this text without this interactive capability.  Each plot also has a menu, allowing users to zoom-in or zoom-out of figures, or download the images in PNG format.

In [ ]:
import plotly.express as px

df = px.data.tips()
fig = px.box(df, x="time", y="total_bill")
fig.show()

In [ ]:
import pandas as pd
import dash_bio

df = pd.read_csv('https://raw.githubusercontent.com/plotly/dash-bio-docs-files/master/volcano_data1.csv')

dash_bio.VolcanoPlot(
    dataframe=df,
    point_size=10,
    effect_size_line_width=4,
    genomewideline_width=2
)

<div class="alert alert-success">
    
## Exercise 13

**a1.**  Import the dataset "Biochemical_Oxygen_Demand.tsv" into a DataFrame.  Use the DataFrame method `.plot()` to visualise the data.

**a2.**  Now make a barplot using a DataFrame method.

<hr>

**b1.**  Import the Body size vs Brain size data you created earlier.  Make a scatter plot using Seaborn of log<sub>2</sub> brain size (y-axis) vs log<sub>2</sub> body size (x-axis).

**b2.**  Use the hue parameter to display Small / Not_Small animals in different colours.  Change the theme to "dark".

**b3.**  Merge this dataset with its associated metadata, as we did in a previous exercise.  Now create a scatterplot which uses the hue to differentiate between Small / Not_Small animals and uses different shape (style) to distinguish between Wild/Extinct/Domesticated species.

**b4.**  Now use a facet grid to explore how the brain/body size relationship varies with our Wild/Extinct/Domesticated classification.

**b5.**  Export the plot as PNG and SVG files.

**b6.**  Use Plotly to make an interactive version of the first scatterplot you created.

<hr>

**\*c1.**  Use NumPy to create 1000 random variables from a Normal distribution of mean=5, standard deviation=1.5.  Display these variables on a histogram.

**\*c2.**  Go to https://seaborn.pydata.org/examples/index.html and look at the code for graphs most relevant to your own work.  Can you make these plots for your own datasets?

</div>

# Concluding remarks
Well, that brings the Data Analysis with Python course to an end.  You should now have at your disposal a considerable range of data manipulation, analysis and visualisation techniques.

We strongly recommend that you go out of your way to make use of your new-found skills in the coming weeks and months.  If you don’t build upon your current knowledge you will become less familiar with what we have covered.  Maybe there is some analysis that you could now perform with Python and pandas?  Even if it is easier to do the tasks in, say, MS Excel, reinforcing your new-found skills now will pay dividends in the future.    

**Remember: learning to program is akin to learning a foreign language.  There is a great deal to take in and becoming fluent takes practice, practice, practice.**

Happy coding!

## Useful links

We would like to bring to your attention the following resources that may help you in your data science career:


**BioPython**

[Biopython homepage](http://biopython.org)

<hr>

**Jupyter**

[Jupyter homepage](www.jupyter.org)

[LMB JupyterHub](http://10.91.193.124/hub/login)

[Notebook examples](https://github.com/jupyter/jupyter/wiki/A-gallery-of-interesting-Jupyter-Notebooks)

<hr>

**Keras**

[Keras homepage](https://keras.io)

<hr>

**Matplotlib**

[Matplotlib homepage](www.matplotlib.org)

[Example plots](https://matplotlib.org/stable/gallery/index.html)

<hr>

**NumPy**

[NumPy homepage](https://numpy.org)

[Mathematical functions](https://numpy.org/doc/stable/reference/routines.math.html)

<hr>

**Pandas**

[Pandas homepage](https://pandas.pydata.org)

[Cheat sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

[Example plots](https://pandas.pydata.org/docs/user_guide/visualization.html)

<hr>

**Plotly**

[Plotly homepage](https://plotly.com)

[Plotly using Python](https://plotly.com/python)

<hr>

**Python**

[Python homepage](www.python.org)

<hr>

**PyTorch**

[PyTorch homepage](https://pytorch.org)

<hr>

**scikit-learn** 

[scikit-learn homepage](https://scikit-learn.org)


**SciPy**

[SciPy homepage](https://scipy.org)

<hr>

**Seaborn**

[Seaborn homepage](https://seaborn.pydata.org)


[Plot aesthetics](https://seaborn.pydata.org/tutorial/aesthetics.html)

[Plot colour schemes](https://seaborn.pydata.org/tutorial/color_palettes.html)

[Example plots](https://seaborn.pydata.org/examples/index.html)

<hr>

**Test datasets**

[Seaborn test datasets](https://github.com/mwaskom/seaborn-data)

[Life Sciences Training Datasets](https://github.com/StevenWingett/LifeSciencesTrainingDatasets)
<hr>

<div class="alert alert-info">
<b>ChatGPT and coding</b>

We may be on the cusp of a revolution in how coding is carried out.  The barriers-to-entry for most people are the amount of jargon to learn, the unforgivingly precise nature of coding and the relatively long time it takes for a beginner to perform even the most basic tasks when more user-friendly alternatives are available (such as MS Excel).

ChatGPT and other AI tools may change this situation within the next few years - or possibly even months.  Organisations have been using this advance in AI technology to produce tools that give coding suggestions as a programmer types.  (A leader in this field is [Copilot](https://github.com/features/copilot), developed by GitHub.)

This does not mean that people can dispense with learning to program all together.  But what it may mean is that users no longer need to be fluent to program well, instead a familiarity with a program's syntax and logic is all that will be required.  An analogy would be that non-native English speakers may understand the language perfectly well when spoken by others, yet may struggle to formulate grammatically correct sentences themselves.  These new AI tools are akin to language translators that give syntactically correct suggestions that can be used by the programmer.

So, we envisage a situation where novice programmers sketch out what they want to achieve and this can be developed by the AI assistant.  The coder can then accept pertinent recommendations and check the canonical  documentation to validate code that is unfamiliar.  Just to give some perspective on the current state of the art: the Copilot AI can read the code comments such as "import TSV file" and then report back code detailing how to populate a pandas DataFrames with external data from a file.

This new way of working should be much faster, more efficient and intuitive for everyone, especially those new to coding.
</div>

# Exercise Answers

## Exercise 1
Talk-through answers.

## Exercise 2

Talk-through answers.

## Exercise 3

In [ ]:
# a1.
5 + 7

In [ ]:
# a2.
8 - 10

In [ ]:
# a3.
9 * 11

In [ ]:
# a4. 
-15 / 3

In [ ]:
# a5.
3 ** 3

<hr>

In [ ]:
# b1.
2 ** 0.5

In [ ]:
# b2.
3.2E12 * 2.5

In [ ]:
# b3.
2.3E-12 * 45.3

<hr>

In [ ]:
# c1.
0 == -0

In [ ]:
# c2.
10 != 10.000

In [ ]:
# c3.
(856 * 7) > (864 * 7.2)

In [ ]:
# c4.
9/3 <= 33 / 11

<hr>

In [ ]:
# d1.
(5 * 1.20) + (8 * 2.15)

In [ ]:
# d2.
1000 / (20 + 30)

In [ ]:
# d3.
((3 * 15.20) + (9 * 17.45) + (2 * 24.00)) * ((100 - 20) / 100)

<hr>

In [ ]:
# e1.
'Con' + 'cat' + 'en' + 'ate'

In [ ]:
# e2.
'To' + ' ' + 'be' + ' ' + 'or' + ' ' + 'not' + ' ' + 'to' + ' ' + 'be'

In [ ]:
# e3.
'All work and no play makes Jack a dull boy ' * 20

<hr>

## Exercise 4

In [ ]:
# a1.
type(10 * 3)

In [ ]:
# a2.
type(22 / 7)

In [ ]:
# a3.
type('10' * 3)

In [ ]:
# a4.
type(int('10' * 3))

<hr>

In [ ]:
# b1.
dna = 'GATATCTAGTCTTCTGATAGAGATCTGATGGGGATTATTATAGCTTCTGATCGGTTT'

In [ ]:
# b2.
print(dna)

In [ ]:
# b3.
len(dna)

In [ ]:
# b4.
dna.count('AGATCT')

In [ ]:
# b5.
dna.lower()

<hr>

## Exercise 5

In [ ]:
# a1.
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
# a2.
print(planets)
type(planets)

In [ ]:
# a3.
print(planets[0])

In [ ]:
# a4.
print(planets[len(planets) - 1])

In [ ]:
# a5.
print(planets[2::3])

In [ ]:
# a5.
print(planets[::-1])

In [ ]:
# a6.
print(sorted(planets))

<hr>

In [ ]:
# b1.
elements = {'H': 'Hydrogen',
    'Li' : 'Lithium',
    'Na' : 'Sodium',
    'K' : 'Potassium'
}

print(elements)

In [ ]:
# b2.
elements['Na']

In [ ]:
# b3.
del(elements['H'])
elements

<hr>

In [ ]:
# c1.
list(range(1,8))

In [ ]:
# c2.
list(range(-5, 4))

In [ ]:
# c3.
list(range(-5, 4))

In [ ]:
# d1*
variety = [planets, elements, range(1,8), range(-5, 4), range(-5, 4)]
variety

<hr>

## Exercise 6

In [ ]:
# a1.
import pandas as pd

buildings = pd.Series([2717, 2227, 2073])
buildings

In [ ]:
# a2.
buildings.index = ['Burj', 'Merdeka', 'Shanghai']
buildings

In [ ]:
# a3.
buildings = buildings / 3.281
buildings

In [ ]:
# a4.
buildings.index.name = 'height_m'
buildings

In [ ]:
# a5.
buildings > 800

In [ ]:
# a6.
antennas = pd.Series({'Merdeka' : 10, 'Burj' : 5, 'Shanghai' : 12})
antennas

In [ ]:
# a7.
buildings + antennas

<hr>

In [ ]:
# b1.
forename = pd.Series(['Joel', 'Abby', 'Ellie'])

In [ ]:
# b2.
surname = pd.Series(['Miller', 'Anderson'])

In [ ]:
# b3.
fullname = forename + surname

In [ ]:
# b4.
print(fullname)

In [ ]:
# b5.
fullname.isnull()

<hr>

In [ ]:
# *c1.
pd.Series(range(9, (9*101), 9))

<hr>

## Exercise 7

In [ ]:
# a1.
heights = pd.DataFrame({'height' : buildings, 'antenna' : antennas})
heights

In [ ]:
# a2.
heights['antenna']

In [ ]:
# a3.
heights.loc['Burj']

In [ ]:
# a4.
heights.loc[[False, True, False]]

<hr>

In [ ]:
# b1.
import seaborn as sns

titanic = sns.load_dataset('titanic')
titanic.head()

In [ ]:
# b2.
titanic.shape

In [ ]:
# b3.
titanic.info()

In [ ]:
# b4.
titanic.loc[:, 'age']

In [ ]:
# b5.
titanic.loc[:, ['class', 'embark_town']]

In [ ]:
# b6.
titanic.loc[:, 'adult_male':]

In [ ]:
# b7.
titanic.loc[886:, 'adult_male':]

<hr>

In [ ]:
# c1.
fish = pd.read_csv('course_exercises_data/Biomass_of_Herbivorous_Fish.tsv', sep='\t')

In [ ]:
# c2.
fish.head()

In [ ]:
# c2.
fish.tail()

In [ ]:
# c3.
fish.iloc[:3, :]

In [ ]:
# c4
fish.iloc[1, [2, 4, 1]]

In [ ]:
# c5
fish.iloc[-1, -1]

In [ ]:
# c6
fish['Shallow.Percentage'] = 0
fish.head()

<hr>

In [ ]:
# *d1.
league_table = pd.read_csv('course_exercises_data/Premier_League_Final_Table_1999.txt', sep='|')
league_table['GD'] = league_table['GF'] - league_table['GA']
league_table['Pts'] = (league_table['W'] * 3) +  league_table['D']
league_table.to_excel('Premier_League_Final_Table_1999.xlsx')

<hr>

## Exercise 8

In [ ]:
# a1.
fish = pd.read_csv('course_exercises_data/Biomass_of_Herbivorous_Fish.tsv', sep='\t')
fish = fish.sort_values('Deep.Mean.Biomass')
fish

In [ ]:
# a2.
fish = fish.sort_values('Deep.Mean.Biomass', ascending=False)
fish

In [ ]:
# a3.
fish = fish.sort_values(['Family', 'Deep.Mean.Biomass'], ascending=[True, False])
fish

In [ ]:
# a4.
fish['Shallow.Percentage'].rank(ascending=False)

In [ ]:
# a5.
fish['Deep.Percentage'] = fish['Deep.Percentage'] / 100
fish['Shallow.Percentage'] = fish['Shallow.Percentage'] / 100
fish

In [ ]:
# a6.
fish = fish.rename(mapper={'Deep.Percentage' : 'Deep.Proportion', 'Shallow.Percentage' : 'Shallow.Proportion'}, axis=1)
fish

In [ ]:
# a7.
fish = fish.round(1)
fish

In [ ]:
# a8.
fish['Deep.Shallow.Ratio'] = fish['Deep.Mean.Biomass'] / fish['Shallow.Mean.Biomass']
fish

In [ ]:
# a9.
family = fish['Family'].drop_duplicates()
family

<hr>

In [ ]:
# b1.
indoor_hobbies = pd.read_csv('course_exercises_data/Childrens_Indoor_Hobbies_During_Lockdown.csv')
indoor_hobbies

In [ ]:
# b2.
filt = indoor_hobbies['Number'] > 100
popular_indoor_hobbies = indoor_hobbies[filt]
popular_indoor_hobbies

In [ ]:
# b3.
filt = (indoor_hobbies['Number'] > 50) & (indoor_hobbies['Number'] < 100)
fair_indoor_hobbies = indoor_hobbies[filt]
fair_indoor_hobbies

In [ ]:
# b4.
filt = ~filt
other_indoor_hobbies = indoor_hobbies[filt]
other_indoor_hobbies

In [ ]:
# b5.
indoor_hobbies.query('Hobby == "Computer"')

In [ ]:
# b6.
lookup = ['Lego', 'Toys', 'Puzzles and Games', 'Buckaroo']
filt = indoor_hobbies['Hobby'].isin(lookup)
indoor_hobbies[filt]

In [ ]:
# b7.
filt = indoor_hobbies['Hobby'].str.contains('Video')
indoor_hobbies[filt]

In [ ]:
# b8.
indoor_hobbies = indoor_hobbies.drop('Percent', axis=1)
indoor_hobbies

## Exercise 9

In [ ]:
# a1. 
fish = pd.read_csv('course_exercises_data/Biomass_of_Herbivorous_Fish.tsv', sep='\t')
fish

In [ ]:
fish.isnull()

In [ ]:
# a2.
fish.fillna(0)

In [ ]:
fish.dropna()

In [ ]:
# a3.
fish['Morpho.Functional.Group'] = fish['Morpho.Functional.Group'].str.replace('ivore', '')
fish

In [ ]:
# a4.
fish['Morpho.Functional.Group'] = fish['Morpho.Functional.Group'].replace({'Detrit' : 'D', 'Alg' : 'A', 'Omn' : 'O'})
fish

<hr>

In [ ]:
# b1.
indoor_hobbies = pd.read_csv('course_exercises_data/Childrens_Indoor_Hobbies_During_Lockdown.csv')
indoor_hobbies = indoor_hobbies.sort_values('Number', ascending=False)
indoor_hobbies.head()

In [ ]:
indoor_hobbies = indoor_hobbies.reset_index(drop=True)
indoor_hobbies

In [ ]:
# b2.
indoor_hobbies['Number'].apply(bin)

In [ ]:
# b3.
indoor_hobbies.index = (indoor_hobbies['Hobby'].str.replace(' ', '_')
                                                  .str.replace('/', '_')
                                                  .str.replace('_&_', '_')
)
                                    
indoor_hobbies

<hr>

In [ ]:
# *c1.
def tidy_text(text):
    text = text.replace(' ', '_')
    text = text.replace('/', '_')
    text = text.replace('_&_', '_') 
    return(text)

indoor_hobbies['Hobby'] = indoor_hobbies['Hobby'].apply(tidy_text)
indoor_hobbies

## Exercise 10

In [ ]:
# a1.
brain_body = pd.read_csv('course_exercises_data/Brain_Bodyweight_Data.tsv', sep='\t')
metadata = pd.read_csv('course_exercises_data/Brain_Bodyweight_Metadata.tsv', sep='\t')

print(brain_body.head(2))
print()
print(metadata.head(2))
print()
print(brain_body.describe())
print()
print(metadata.describe())

In [ ]:
# a2.
brain_body = pd.merge(brain_body, metadata, how='left', on='Species')
brain_body.head()

In [ ]:
# a3.
brain_body['Category'].value_counts()

<hr>

In [ ]:
# b1.
hobbies_indoor = pd.read_csv('course_exercises_data/Childrens_Indoor_Hobbies_During_Lockdown.csv')
hobbies_outdoor = pd.read_csv('course_exercises_data/Childrens_Outdoor_Hobbies_During_Lockdown.csv')

print(hobbies_indoor.head(2))
print()
print(hobbies_outdoor.head(2))

hobbies = pd.concat([hobbies_indoor, hobbies_outdoor], axis=0)
hobbies

<hr>

In [ ]:
# c1.
exercise = sns.load_dataset('exercise')
print(exercise.head())
print()

exercise_grouped = exercise.groupby(by='kind')
print(exercise_grouped)

In [ ]:
# c2.
exercise_grouped.mean()['pulse']

<hr>

## Exercise 11

In [ ]:
# a1.
cuttlefish = pd.read_csv('course_exercises_data/Cuttlefish_Buoyancy.tsv', sep='\t')
cuttlefish = cuttlefish.loc[:, ['ID', 'treatment', 'hatching_date', 'days_until_sampling',  'floating', 'density']]
cuttlefish[['hatching_day', 'hatching_month', 'hatching_year']] = cuttlefish['hatching_date'].str.split('.', expand=True)
cuttlefish = cuttlefish.drop('hatching_date', axis=1)

cuttlefish.head()

In [ ]:
# a2.
cuttlefish['ID'] =  cuttlefish['ID'] + cuttlefish['treatment']
cuttlefish.drop('treatment', axis=1, inplace=True)    # Notice inplace
cuttlefish.tail()   # Used tail

In [ ]:
# a3.
cuttlefish = cuttlefish.transpose()    # Transpose
cuttlefish.head()

In [ ]:
cuttlefish = cuttlefish.transpose()   # Transpose back
cuttlefish.head()

In [ ]:
# a4.
cuttlefish = pd.melt(cuttlefish, id_vars='ID', var_name='Metric', value_name='Value')
cuttlefish.to_excel('cuttlefish.xlsx', index=False)

In [ ]:
# a5.
cuttlefish = cuttlefish.pivot(index='ID', columns='Metric', values='Value')
cuttlefish

## Exercise 12

In [ ]:
# a1.
import numpy as np

brain_body = pd.read_csv('course_exercises_data/Brain_Bodyweight_Data.tsv', sep='\t')
brain_body['Log2.Body.Weight.kg'] = np.log2(brain_body['Body.Weight.kg'])
brain_body['Log2.Brain.Weight.g'] = np.log2(brain_body['Brain.Weight.g'])
brain_body.head()

In [ ]:
# a2.
brain_body['Body.Weight.Classification'] =  np.where(brain_body['Body.Weight.kg'] < 10, 'Small', 'Not_Small')   # Alternative responses
brain_body.to_csv('brain_body_classification.csv', index=False)   # Look as file to see results

<hr>

In [ ]:
# *c1.
from scipy.stats import fisher_exact

trial_results = pd.DataFrame([[41, 59], [62, 38]])
trial_results.columns = ['Cured', 'Not_Cured']
trial_results.index = ['Drug_A', 'Drug_B']

In [ ]:
trial_results

In [ ]:
fishers_results = fisher_exact(trial_results, alternative='two-sided')
p_value = fishers_results[1]
print(p_value)

In [ ]:
# Therefore, the drugs DO perform differently (p < 0.01)

<hr>

## Exercise 13

In [ ]:
# Reset to default plot sizes before starting exercises
plt.rcParams["figure.figsize"] = [6.4, 4.8]
sns.set_theme()

In [ ]:
# a1.
oxygen = pd.read_csv('course_exercises_data/Biochemical_Oxygen_Demand.tsv', sep='\t')
print(oxygen)
oxygen.plot()

In [ ]:
# a2.
oxygen.plot.bar(x='Time', y='Demand')

<hr>

In [ ]:
# b1.
brain_body = pd.read_csv('brain_body_classification.csv')
sns.scatterplot(data=brain_body, x='Log2.Body.Weight.kg', y='Log2.Brain.Weight.g')

In [ ]:
# b2.
sns.set_theme(style="dark")

sns.scatterplot(data=brain_body, 
                x='Log2.Body.Weight.kg', 
                y='Log2.Brain.Weight.g',
                hue='Body.Weight.Classification')

In [ ]:
# b3.
brain_body_metadata = pd.read_csv('course_exercises_data/Brain_Bodyweight_Metadata.tsv', sep='\t')
brain_body = pd.merge(brain_body_metadata, brain_body, how='right', on='Species') 

sns.scatterplot(data=brain_body, 
                x='Log2.Body.Weight.kg', 
                y='Log2.Brain.Weight.g',
                hue='Body.Weight.Classification',
                style='Category'
               )

In [ ]:
# b4.
g = sns.FacetGrid(brain_body, col="Category")
g.map_dataframe(sns.scatterplot, x="Log2.Body.Weight.kg", y="Log2.Brain.Weight.g")
g.add_legend()

In [ ]:
# b5.
g.savefig(fname='brain_body_facet.svg', format='svg', bbox_inches='tight', pad_inches=0.5)
g.savefig(fname='brain_body_facet.png', format='png')

In [ ]:
# b6.
import plotly.express as px

fig = px.scatter(brain_body,
                    x='Log2.Body.Weight.kg', 
                    y='Log2.Brain.Weight.g',
                    hover_name='Species',
                )
fig.show()

In [ ]:
# *c1.
norm_vals = np.random.normal(5.0, 1.5, 1000)    # Mean, STD, count
norm_vals = pd.DataFrame(norm_vals)
norm_vals.hist()